// Officials colors MSJ
$msj-blue-official: #003366;
$msj-gold-official: #ffcc00;
$msj-gold-light-official: #ffde75;

// Accent colors MSJ
$msj-blue-accent: #005694;
$msj-blue-light-accent: #69afdc;
$msj-beige-accent: #e2d8d8;
$msj-grey-accent: #a59b94;

// Глобальная цветовая палитра
$dark-blue: #2d323d;
$dark-gray: #303030;

$title-color: #00162b;
$sub-title: #002c57;
$link-color: #6884c1;
$border-color: #dee0e8;
$light-gray: #e5e5e5;
$light-blue:  #3c4252;

$accent-color: #6884c1;
$selection-color: #e71baa;
$not-data-color: #7f899b;

$primary-color: $msj-blue-official;
$info-color: $msj-blue-light-accent;
$success-color: #158f44;
$danger-color: #c51c24;
$warning-color: $msj-gold-official;
$secondary-color: #6c757d;

$white-color: #ffffff;
$black-color: #000000;

// Цвет фона приложения
$app-background-color: #efefef;

// Цветовая палитра для тостов
$success-background: #698566;
$success-border: #5f7b5c;
$success-button: #4b6048;

$warning-background: #cf971f;
$warning-border: #bf8c1d;
$warning-button: #ab7d1a;

$error-background: #874f4f;
$error-border: #7c4848;
$error-button: #593232;

$info-background: #667185;
$info-border: #5c677b;
$info-button: #3f4654;

$gold: #efba3e;
