// Border fix for tagbox in material theme
::ng-deep dx-tag-box {
    padding: 10px !important;
}
::ng-deep .dx-tagbox:not(.dx-texteditor-empty):not(.dx-editor-filled):not(.dx-editor-outlined).dx-state-hover:after,
::ng-deep .dx-tagbox:not(.dx-texteditor-empty):not(.dx-editor-filled):not(.dx-editor-outlined):after {
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

/*
    Devexteme DataGrid Styles
*/
::ng-deep .dx-datagrid-header-panel {
    background: none !important;
}

::ng-deep .dx-datagrid-text-content {
    color: #5f5f5f !important;
    font-size: 17px !important;
    font-weight: bold !important;
}
::ng-deep .dx-datagrid-headers {
    height: auto;
}
::ng-deep .dx-datagrid-headers td {
    background: #f8f8f8 !important;
}
::ng-deep .dx-datagrid-headers div:first {
    height: 35px !important;
    padding-top: 3px;
}
::ng-deep .dx-sort::before {
    font-weight: bold !important;
    color: #217ca5 !important;
}
::ng-deep .dx-command-select {
    width: 40px !important;
    min-width: 40px !important;
}
::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row>td {
    vertical-align: middle;
    height: 48px;
}
::ng-deep .dx-command-expand {
    width: 15px !important;
    min-width: 15px !important;
}
::ng-deep .dx-datagrid {
    background: none !important;
}
::ng-deep .dx-toolbar {
    background: none !important;
}
::ng-deep .dx-freespace-row {
    height: 0px !important;
}
::ng-deep .dx-datagrid-rowsview {
    overflow-y: auto !important;
    border-color: #ededed !important;
}
::ng-deep .dx-datagrid .dx-column-lines > td {
    border-color: #ededed !important;
}
::ng-deep .dx-datagrid-rowsview .dx-row-focused.dx-data-row > td:not(.dx-focused), .dx-datagrid-rowsview .dx-row-focused.dx-data-row > tr > td:not(.dx-focused), .dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-edit .dx-link {
    background-color: rgba($primary-color, 0.1) !important;
    color: $primary-color !important;
    font-weight: 800;
}