@import "_colors";

::ng-deep .mat-form-field-infix {
    margin-left: 10px !important;
}

::ng-deep .mat-dialog-container {
    overflow: hidden !important;
}

::ng-deep .mat-dialog-content {
    height: 100% !important;
    overflow: auto !important;
    padding: 10px 30px !important;

    &::-webkit-scrollbar {
        width: 6px !important;
        border-radius: 6px !important;
        background: rgb(241, 241, 241) !important;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 6px !important;
        background: rgb(204, 204, 204) !important;
    }
}

::ng-deep .mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}

::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
}

::ng-deep mat-dialog-container {
    overflow: hidden !important;
}

::ng-deep .mat-form-field {
    width: 100% !important;
}

::ng-deep .cdk-overlay-pane {
    max-width: 100% !important;
}

::ng-deep .cdk-global-scrollblock {
    position: initial !important;
}

::ng-deep .mat-placeholder-required.mat-form-field-required-marker {
    color: $danger-color;
}