@import "_colors-styles";
@import "_colors";

::ng-deep .button-loader {
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
}

::ng-deep .button-loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 6px auto 0px auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
    animation: button-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

::ng-deep .button-loader div:nth-child(1) {
    animation-delay: -0.45s;
}

::ng-deep .button-loader div:nth-child(2) {
    animation-delay: -0.3s;
}

::ng-deep .button-loader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes button-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



::ng-deep .button-loader-primary div {
    border-color: $primary-color transparent transparent transparent !important;
}

::ng-deep .button-loader-danger div {
    border-color: $danger-color transparent transparent transparent !important;
}

::ng-deep .button-loader-secondary div {
    border-color: $secondary-color transparent transparent transparent !important;
}

::ng-deep .button-loader-success div {
    border-color: $success-color transparent transparent transparent !important;
}