.tree-list-wrapper {
    width: 100%;
    height: 100%;

    user-select: none;

    color: #ffffff;
    padding-right: 15px;

    transition: all 0.3s;
}
.tree-list-wrapper-hidden {
    padding-right: 5px;
}

.item-wrapper {
    display: block;
    width: 100%;

    cursor: pointer;

    padding: 0;
    border-radius: 0px 30px 30px 0px;

    &:hover {
        background-color: rgba($color: #000000, $alpha: .3);
    }
}

.tree-list-item {
    display: flex;

    align-items: center;

    height: 40px;
    width: 100%;
}

.item-icon {
    width: 64px;
    text-align: center;
    position: absolute;

    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.item-name {
    position: absolute;

    font-size: 15px;
}
.item-name-hidden {
    opacity: 0;

    transition: opacity 0.3s;
}

.active-link {
    background-color: rgba($color: #000000, $alpha: .2);
    &:hover {
        background-color: rgba($color: #000000, $alpha: .2);
    }
}
