<div 
    [class]="'tree-list-wrapper ' + wrapperClass"
    [ngClass]="{
        'tree-list-wrapper-hidden': !isOpened
    }">

    <ng-template ngFor let-item [ngForOf]="listItems">

        <div
            *AvailableFor="item.roles"
            class="main-item-wrapper">
            <a
                [matTooltip]="item.name"
                [matTooltipPosition]="'after'"
                [matTooltipDisabled]="!showTooltip"
                mat-button
                
                routerLinkActive="active-link"

                [ngClass]="{
                    'item-wrapper-hidden': !isOpened,
                    'active-link': item.link === currentLink
                }"
                [ngStyle]="{
                    'color': textColor
                }"
                class="item-wrapper advansed-item"
                (click)="redirectTo(item.link)">
                <div [class]="'tree-list-item ' + itemClass">
                    <div 
                        [class]="'item-icon ' + iconClass"
                        *ngIf="item.iconClass">
                            <i [class]="item.iconClass"></i>
                    </div>
        
                    <div 
                        [class]="'item-name ' + textClass"
                        [ngClass]="{
                            'item-name-hidden': !isOpened
                        }"
                        [ngStyle]="{
                            'margin-left': '64px'
                        }">
                        {{ item.name }}
                    </div>
                </div>
            </a>
        </div>

    </ng-template>
</div>
