<mat-list>
    <mat-list-item *ngFor="let equipmentGroup of equipmentGroups">
        <mat-checkbox
            *ngIf="isSelectable"
            [color]="'primary'"
            (change)="onEquipmentGroupSelectionChange(equipmentGroup)"></mat-checkbox>

        <h4 mat-line>{{ equipmentGroup.equipment.name }}</h4>

        <p
            *ngIf="equipmentGroup.equipment.description"
            mat-line
            class="text-secondary">
            {{ equipmentGroup.equipment.description }}
        </p>

        <p
            mat-line
            class="text-secondary">
            Count: {{ equipmentGroup.count}}
        </p>
    </mat-list-item>
</mat-list>