.user-photo {
    border-radius: 50%;
    background-color: #259166;
    background-size: contain !important;

    color: #ffffff;
    font-size: 1em !important;
    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}