<h1>{{ requestEvent.name }}</h1><br>

<div
    *ngIf="(+requestEventEquipment.key | getEquipmentDataByType) as equipmentType"
    class="text-primary total-count-text">
    Total <i [ngClass]="equipmentType.iconClass"></i> ({{ equipmentType.name | lowercase }}'s) count: <strong>{{ requestEventEquipment.value.length }}</strong>
</div>

<equipment-list
    [equipmentArray]="requestEventEquipment.value">
</equipment-list>