:host ::ng-deep .mat-horizontal-stepper-header-container {
    width: calc(100% - 10%);
    position: fixed;
    background: #ffffff !important;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
    margin-top: -10px;
    z-index: 99999;
}

:host ::ng-deep .mat-horizontal-content-container {
    padding-top: 100px;
}