<mat-horizontal-stepper
    #MatStepper
    linear
    (selectionChange)="onStepChange($event)">
    <mat-step [completed]="isBookingFormValid">
        <ng-template matStepLabel>Booking information</ng-template>

        <room-booking-form
            #BookingForm
            [inputData]="bookingFormData"
            [equipmentArray]="equipmentArray"
            (OnRruleChange)="onRruleSummaryChanged($event)"
            (OnFormInit)="onBookingFormGroupInit($event)"></room-booking-form>
    </mat-step>

    <mat-step [completed]="isRoomsStepCompleted">
        <ng-template matStepLabel>Rooms</ng-template>

        <filtered-rooms-list-selector
            *ngIf="data && roomArray"
            [roomArray]="roomArray"
            [roomBookingData]="data.bookingFormData"
            [selectedRoomIds]="selectedRoomIds"
            (OnRoomsSelectionChange)="onRoomsSelectionChanged($event)"></filtered-rooms-list-selector>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Services</ng-template>

        <svc-list-selector
            #ServicesList
            *ngIf="svcArray"
            [selectedSvcIds]="selectedSvcIds"
            [svcArray]="svcArray"
            (OnSvcSelectionChange)="onSvcSelectionChanged($event)"></svc-list-selector>
    </mat-step>

    <mat-step [completed]="isGeneralInfoFormValid">
        <ng-template matStepLabel>Event information</ng-template>

        <request-event-general-information-form
            #GeneralInfoForm
            [inputData]="generalInfoFormData"
            (OnFormInit)="onGeneralInformationFormGroupInit($event)"></request-event-general-information-form>

        <app-summary-info
            *ngIf="currentStepIndex === stepsEnum.GeneralInfo"
            #SummaryInfo
            [rruleSummary]="rruleSummary"
            [equipmentArray]="equipmentArray"
            [roomArray]="roomArray"
            [svcArray]="svcArray"
            [data]="data"></app-summary-info>
    </mat-step>
</mat-horizontal-stepper>