<dx-data-grid
    [dataSource]="requestEvents"
    [height]="tableHeight"
    [focusedRowEnabled]="(itemIdToSelect) ? true : false"
    [focusedRowKey]="itemIdToSelect"
    autoNavigateToFocusedRow="1"
    [masterDetail]="{ enabled: true, template: 'MasterDetails' }"
    [keyExpr]="'id'"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    (onRowCollapsing)="onMasterDetailsClosing()">

    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <dxo-search-panel
        [visible]="true"
        [width]="250"
        placeholder="Search"></dxo-search-panel>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.Name]"
        [dataField]="'name'"
        [caption]="'Name'"
        [dataType]="'string'"
        [alignment]="'left'"
        [cssClass]="'font-weight-bold'"
        [minWidth]="'150'"
        [allowSearch]="true"
        [allowFiltering]="false"
        [cellTemplate]="'NameTemplate'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.StartDate]"
        [dataField]="'dateFrom'"
        [caption]="'Start date'"
        [dataType]="'date'"
        [alignment]="'center'"
        [allowSearch]="false"
        [allowFiltering]="true"
        [allowSorting]="true"
        [cssClass]="'text-secondary'"
        [width]="150"
        [cellTemplate]="'StartDateTemplate'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.EndDate]"
        [dataField]="'dateTo'"
        [caption]="'End date'"
        [dataType]="'date'"
        [alignment]="'center'"
        [allowSearch]="false"
        [allowFiltering]="true"
        [allowSorting]="true"
        [cssClass]="'text-secondary'"
        [width]="100"
        [cellTemplate]="'EndDateTemplate'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.Rooms]"
        [caption]="'Rooms'"
        [alignment]="'center'"
        [minWidth]="'100'"
        [width]="'180'"
        [allowFiltering]="false"
        [cellTemplate]="'RoomsTemplate'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.Equipment]"
        [caption]="'Equipment'"
        [alignment]="'center'"
        [width]="'150'"
        [cellTemplate]="'EquipmentTemplate'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.Price]"
        [caption]="'Price'"
        [width]="'140'"
        [cellTemplate]="'PriceTemplate'"
        [alignment]="'center'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.AllDay]"
        [caption]="'All day'"
        [dataField]="'isAllDayEvents'"
        [width]="'60'"
        [allowFiltering]="false"
        [alignment]="'center'"
        [cellTemplate]="'AllDayTemplate'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.Capacity]"
        [caption]="'Capacity'"
        [alignment]="'center'"
        [width]="'60'"
        [allowFiltering]="false"
        [headerCellTemplate]="'CapacityHeaderTemplate'"
        [cellTemplate]="'CapacityTemplate'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.Status]"
        [dataField]="'status'"
        [alignment]="'center'"
        [width]="80"
        [allowFiltering]="true"
        [filterOperations]="['=']"
        [filterType]="'include'"
        [headerFilter]="{ dataSource: statusHeaderFilterItems }"
        [headerCellTemplate]="'StatusHeaderTemplate'"
        [cellTemplate]="'StatusTemplate'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.Approve]"
        [alignment]="'center'"
        [width]="45"
        [cellTemplate]="'ApproveTemplate'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.Clone]"
        [cellTemplate]="'CloneTemplate'"
        [width]="45"
        [alignment]="'center'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.Edit]"
        [cellTemplate]="'EditTemplate'"
        [width]="45"
        [alignment]="'center'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.Delete]"
        [cellTemplate]="'DeleteTemplate'"
        [width]="45"
        [alignment]="'center'"></dxi-column>

    <div *dxTemplate="let requestEvent of 'NameTemplate'">
        <span *ngIf="requestEvent.data.name; else emptyData">{{ requestEvent.data.name }}</span>
    </div>

    <div *dxTemplate="let requestEvent of 'CapacityHeaderTemplate'">
        <i
            class="fas fa-users"
            [matTooltip]="'Capacity'"
            [matTooltipPosition]="'above'"></i>
    </div>

    <div *dxTemplate="let requestEvent of 'CapacityTemplate'">
        <span 
            *ngIf="requestEvent.data.capacity; else emptyData"
            class="capacity-text">{{ requestEvent.data.capacity }}</span>
    </div>

    <div *dxTemplate="let requestEvent of 'RoomsTemplate'">
        <mat-chip-list>
            <mat-chip
                *ngFor="let room of requestEvent.data.rooms"
                class="room-chip">
                {{ room }}
            </mat-chip>
        </mat-chip-list>
    </div>

    <div *dxTemplate="let requestEvent of 'StartDateTemplate'">
        <div class="from-date font-12">{{ requestEvent.data.dateFrom | date:"short" }}</div>
        <strong>{{ requestEvent.data.rrule }}</strong>
    </div>

    <div *dxTemplate="let requestEvent of 'EndDateTemplate'">
        <div class="to-date font-12">{{ requestEvent.data.dateTo | date:"short" }}</div>
    </div>

    <div *dxTemplate="let requestEvent of 'EquipmentTemplate'">
        <mat-chip-list>
            <mat-chip-list aria-label="Equipment selection">
                <ng-template
                    ngFor
                    let-equipmentTypeGroup
                    [ngForOf]="requestEvent.data.groupedEquipment | keyvalue">
                    <mat-chip
                        *ngIf="(+equipmentTypeGroup.key | getEquipmentDataByType) as equipmentType"
                        [matTooltip]="equipmentType.name"
                        [matTooltipPosition]="'above'"
                        (click)="onEquipmentClick(requestEvent.data, equipmentTypeGroup)">
                            <i [ngClass]="equipmentType.iconClass"></i>
                            &nbsp;
                            <span class="equipment-count">({{ equipmentTypeGroup.value.length }})</span>
                    </mat-chip>
                </ng-template>
            </mat-chip-list>
        </mat-chip-list>
    </div>

    <div *dxTemplate="let requestEvent of 'StatusHeaderTemplate'">
        <i
            class="fas fa-star"
            [matTooltip]="'Status'"
            [matTooltipPosition]="'above'"></i>
    </div>

    <div *dxTemplate="let requestEvent of 'StatusTemplate'">
        <i
            *ngIf="requestEvent.data.status | isNumber; else emptyData"
            [matTooltip]="RequestEventTypesArray[requestEvent.data.status].name"
            [matTooltipPosition]="'above'"
            [class]="RequestEventTypesArray[requestEvent.data.status].iconClass">
        </i>
    </div>

    <div *dxTemplate="let requestEvent of 'AllDayTemplate'">
        <span
            [ngSwitch]="requestEvent.data.isAllDayEvent"
            class="text-secondary">
            <i
                *ngSwitchCase="true"
                class="fas fa-check"></i>

            <i
                *ngSwitchDefault
                class="fas fa-minus"></i>
        </span>
    </div>

    <div
        *dxTemplate="let requestEvent of 'PriceTemplate'"
        class="text-success">
        <div>
            ${{ requestEvent.data.price || 0 }}
        </div>

        <button
            *ngIf="requestEvent.data.canBeApproved"
            mat-button
            class="change-price-button"
            (click)="onChangePrice(requestEvent.data)">
            Change
        </button>
    </div>

    <div *dxTemplate="let requestEvent of 'ApproveTemplate'">
        <button
            mat-icon-button
            [matTooltip]="(requestEvent.data.status !== statusEnum.Approved) ? 'Approve' : 'Disapprove'"
            [matTooltipPosition]="'above'"
            [disabled]="!requestEvent.data.canBeApproved"
            [ngClass]="{
                'text-secondary': !requestEvent.data.canBeApproved,
                'text-success': (requestEvent.data.status !== statusEnum.Approved),
                'text-warning': (requestEvent.data.status === statusEnum.Approved)
            }"
            (click)="requestEvent.data.canBeApproved ? OnApproveButtonClick.emit(requestEvent.data) : null">
            <i class="fas fa-gavel"></i>
        </button>
    </div>

    <div *dxTemplate="let requestEvent of 'CloneTemplate'">
        <button
            mat-icon-button
            [matTooltip]="'Clone'"
            [matTooltipPosition]="'above'"
            (click)="onClone(requestEvent.data)">
            <i class="fas fa-magic"></i>
        </button>
    </div>

    <div *dxTemplate="let requestEvent of 'EditTemplate'">
        <button
            #EditButton
            mat-icon-button
            [disabled]="(requestEvent.data.status === statusEnum.Approved)"
            [matTooltip]="(EditButton.disabled) ? '' : 'Edit'"
            [matTooltipPosition]="'above'"
            [ngClass]="(EditButton.disabled) ? 'text-secondary' : 'text-primary'"
            (click)="(EditButton.disabled) ? null : onEdit(requestEvent.data)">
            <i class="fas fa-pen"></i>
        </button>
    </div>

    <div *dxTemplate="let requestEvent of 'DeleteTemplate'">
        <button
            #DeleteButton
            mat-icon-button
            [disabled]="(requestEvent.data.status === statusEnum.Approved)"
            [color]="'warn'"
            [matTooltip]="'Delete'"
            [matTooltipPosition]="'above'"
            [ngClass]="(DeleteButton.disabled) ? 'text-secondary' : ''"
            (click)="(DeleteButton.disabled) ? null : onDelete(requestEvent.data)">
            <i class="far fa-trash-alt"></i>
        </button>
    </div>

    <div *dxTemplate="let requestEvent of 'MasterDetails'">
        <master-details
            [requestEventId]="requestEvent.data.id"
            [loadRoomMasterDetails]="loadRoomDetailsFunction"
            (OnApprove)="onRoomApprove(requestEvent.data, $event)">
        </master-details>
    </div>
</dx-data-grid>

<ng-template #emptyData>
    -
</ng-template>