.date-wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
}

:host::ng-deep.mat-chip-list-wrapper {
    justify-content: center;
}

.capacity-text {
    font-weight: 500;
}

.room-chip {
    font-size: 11px;
}

.font-12 {
    font-size: 12px;
}

.change-price-button {
    font-weight: 800;
}

.is-approve-toggle {
    pointer-events: none
}

.is-approve-toggle-wrapper {
    cursor: pointer;
}
