<mat-dialog-header
    [iconClass]="'fas fa-pen'"
    [title]="'Edit service'"
    (OnClose)="close()"></mat-dialog-header>

<mat-dialog-content>
    <content-loader [showIf]="svc">
        <ng-template>
            <svc-editing-form
                [inputData]="svc"
                (OnFormInit)="onSvcFormGroupInit($event)"></svc-editing-form>
        </ng-template>
    </content-loader>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        *ButtonLoader="savingSubscription"
        mat-raised-button
        [color]="'primary'"
        (click)="editSvc()">
        Save
    </button>
</mat-dialog-actions>