<mat-dialog-header
    [iconClass]="'fas fa-pen'"
    [title]="'Edit equipment'"
    (OnClose)="close()"></mat-dialog-header>

<mat-dialog-content>
    <content-loader [showIf]="equipment">
        <ng-template>
            <equipment-editing-form
                [inputData]="equipment"
                (OnFormInit)="onEquipmentFormGroupInit($event)"></equipment-editing-form>
        </ng-template>
    </content-loader>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        *ButtonLoader="savingSubscription"
        mat-raised-button
        [color]="'primary'"
        (click)="editEquipment()">
        Save
    </button>
</mat-dialog-actions>