<mat-dialog-header
    [iconClass]="'fas fa-user-plus'"
    [title]="'Create user'"
    (OnClose)="close()"></mat-dialog-header>

<mat-dialog-content>
    <user-creation-form
        (OnFormInit)="onUserFormGroupInit($event)"></user-creation-form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        *ButtonLoader="creationSubscription"
        mat-raised-button
        [color]="'primary'"
        (click)="createUser()">
        Create
    </button>
</mat-dialog-actions>