.toolbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    margin-top: 20px;
}

// Border fix for tagbox in material theme
:host::ng-deep dx-tag-box {
    padding: 10px !important;
}
:host::ng-deep .dx-tagbox:not(.dx-texteditor-empty):not(.dx-editor-filled):not(.dx-editor-outlined).dx-state-hover:after, .dx-tagbox:not(.dx-texteditor-empty):not(.dx-editor-filled):not(.dx-editor-outlined):after {
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
