<div class="wrapper">
    <form [formGroup]="formGroup">
        <mat-form-field>
            <input 
                matInput 
                placeholder="Name" 
                [formControl]="formGroup.controls.name">

            <mat-error *ngIf="formGroup.controls.name.hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <dx-tag-box
            #TagBox
            [items]="rooms"
            [placeholder]="'Rooms'"
            [showClearButton]="true"
            [searchEnabled]="true"
            [displayExpr]="'name'"
            [formControl]="formGroup.controls.rooms">
        </dx-tag-box>
    </form>
</div>