<div class="wrapper">
    <form
        [formGroup]="formGroup"
        class="form-wrapper">
        <mat-form-field>
            <input 
                matInput
                [formControl]="formGroup.controls.from"
                [matDatepicker]="fromPicker" 
                placeholder="From date">
            <mat-datepicker-toggle 
                matSuffix 
                [for]="fromPicker"></mat-datepicker-toggle>
            <mat-datepicker 
                #fromPicker
                (closed)="writeValue()"></mat-datepicker>
        </mat-form-field>

        <div class="icon">
            <i class="fas fa-chevron-right"></i>
        </div>

        <mat-form-field>
            <input 
                matInput
                [formControl]="formGroup.controls.to"
                [matDatepicker]="toPicker" 
                placeholder="To date">
            <mat-datepicker-toggle 
                matSuffix 
                [for]="toPicker"></mat-datepicker-toggle>
            <mat-datepicker 
                #toPicker
                (closed)="writeValue()"></mat-datepicker>
        </mat-form-field>
    </form>
</div>
