<content-loader [showIf]="requestEventArray">
    <ng-template>
        <request-events-list-table
            #requestEventsList
            [requestEvents]="requestEventArray"
            [itemIdToSelect]="itemIdFromUrl"
            [loadRoomDetailsFunction]="getDetailsFunction"
            (OnApproveButtonClick)="onApproveButtonClick($event)"
            (OnChangePriceButtonClick)="onChangePriceButtonClick($event)"
            (OnEquipmentButtonClick)="onRequestEventEquipmentClick($event)"
            (OnCloneButtonClick)="onRequestEventClone($event)"
            (OnEditButtonClick)="onRequestEventEdit($event)"
            (OnDeleteButtonClick)="deleteRequestEvent($event)"
            (OnRoomApproveClick)="onRoomApproveButtonClick($event)">
        </request-events-list-table>
    </ng-template>
</content-loader>