<div class="wrapper">
    <content-loader [showIf]="roleMap">
        <ng-template>
        <app-role-assigner
            *ngFor="let role of roleMap | keyvalue"
            [roleId]="+role.key"
            [assignedUsers]="role.value"></app-role-assigner>
        </ng-template>
    </content-loader>
</div>