<mat-list>
    <mat-list-item
        *ngFor="let invoiceService of invoiceServiceArray; let i = index;"
        [class.svc-strip]="(i % 2) === 0">
        <mat-checkbox
            mat-list-icon
            [color]="'primary'"
            [(ngModel)]="invoiceService.checkedByApprover"></mat-checkbox>

        <h4 mat-line>{{ svcDictionary[invoiceService.serviceId].name }}</h4>

        <p
            mat-line
            class="text-secondary">
            {{ svcDictionary[invoiceService.serviceId].description }}
        </p>

        <p
            mat-line>
            <mat-form-field>
                <span
                    matPrefix
                    class="fas fa-dollar-sign text-secondary"></span>

                <input 
                    matInput
                    required
                    min="0"
                    type="number"
                    [(ngModel)]="invoiceService.price">
            </mat-form-field>
        </p>

        <p
            *ngIf="invoiceService.checkedByClient"
            mat-line
            class="text-success checked-by-user-text">
            <i class="fas fa-check"></i>&nbsp;
            Selected by client
        </p>
    </mat-list-item>
</mat-list>