<div
    *ngIf="data"
    class="wrapper">

    <h2>Summary</h2>

    <div class="block">
        <div class="block-title">Dates</div>

        <span class="text-primary">
            {{ data.bookingFormData.dateFrom | date:"medium" }}
            &nbsp;<i class="fas fa-arrow-right"></i>&nbsp;
            {{ data.bookingFormData.dateTo | date:"medium" }}
            <br>
            <strong>{{ rruleSummary }}</strong>
        </span>
    </div>

    <div class="block">
        <div class="block-title">Capacity</div>

        {{ data.bookingFormData.capacity }}
    </div>

    <div
        *ngIf="selectedEquipmentArray"
        class="block">
        <div class="block-title">Equipment</div>

        <equipment-list
            *ngIf="selectedEquipmentArray.length; else emptyEquipment"
            [equipmentArray]="selectedEquipmentArray"
            [isSelectable]="false"></equipment-list>
    </div>

    <div
        *ngIf="selectedRoomArray"
        class="block">
        <div class="block-title">Rooms</div>

        <room-list
            [roomArray]="selectedRoomArray"
            [isSelectable]="false"></room-list>
    </div>

    <div
        *ngIf="selectedSvcArray"
        class="block">
        <div class="block-title">Services</div>

        <svc-list
            *ngIf="selectedSvcArray.length; else emptyServices"
            [svcArray]="selectedSvcArray"
            [isSelectable]="false"></svc-list>
    </div>

</div>

<ng-template #emptyEquipment>
    No equipment.
</ng-template>

<ng-template #emptyServices>
    No services.
</ng-template>