<h1 mat-dialog-title>Download report</h1>

<mat-dialog-content>
    <date-range
        [(ngModel)]="dateRange"></date-range>
</mat-dialog-content>

<mat-dialog-actions
    align="end">
    <button
        mat-raised-button
        color="primary"
        (click)="onDownloadClick()">
        Download
    </button>
</mat-dialog-actions>
