<form [formGroup]="formGroup">
    <div class="row">
        <div
            class="col-12"
            style="padding-bottom: 5px;">
            <mat-checkbox
                [color]="'primary'"
                [formControl]="formGroup.controls.isAllDayEvent"
                (change)="onAllDayCheckboxToggle($event.checked)">All day</mat-checkbox>
        </div>

        <div class="col-6">
            <div class="dx-datetime-picker-container">
                <dx-date-box
                    [formControl]="formGroup.controls.dateFrom"
                    placeholder="Date from"
                    class="dx-datetime-picker"
                    [type]="(formGroup.controls.isAllDayEvent.value) ? 'date' : 'datetime'">
                </dx-date-box>
    
                <mat-error
                    *ngIf="formGroup.controls.dateFrom.hasError('dateFromIsNotValid')">
                    Date range is not correct
                </mat-error>

                <mat-error
                    *ngIf="formGroup.controls.dateFrom.hasError('required') && formGroup.controls.dateTo.touched">
                    This field is required
                </mat-error>
            </div>
        </div>

        <div class="col-6">
            <div class="dx-datetime-picker-container">
                <dx-date-box
                    [formControl]="formGroup.controls.dateTo"
                    placeholder="Date to"
                    class="dx-datetime-picker"
                    [type]="(formGroup.controls.isAllDayEvent.value) ? 'date' : 'datetime'">
                </dx-date-box>

                <mat-error
                    *ngIf="formGroup.controls.dateTo.hasError('dateToIsNotValid')">
                    Date range is not correct
                </mat-error>

                <mat-error
                *ngIf="formGroup.controls.dateTo.hasError('required') && formGroup.controls.dateTo.touched">
                This field is required
            </mat-error>
            </div>
        </div>

        <div class="col-12">
            <recurrence-options-form
                [formControl]="formGroup.controls.rrule"
                (OnRruleSummaryChange)="OnRruleChange.emit($event)"></recurrence-options-form>
        </div>

        <div class="col-12">
            <mat-form-field>
                <input 
                    matInput
                    required
                    type="number"
                    placeholder="Capacity" 
                    [formControl]="formGroup.controls.capacity">

                <mat-error *ngIf="formGroup.controls.capacity.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12">
            <equipment-assigner-field
                [equipmentArray]="equipmentArray"
                [formControl]="formGroup.controls.equipmentIds"></equipment-assigner-field>
        </div>
    </div>

    <room-type-options-form
        [formControl]="formGroup.controls.roomLayout"
        (OnFormInit)="onRoomTypeFormGroupInit($event)"></room-type-options-form>
</form>