<mat-dialog-header
    [iconClass]="'fas fa-user-plus'"
    [title]="'Assign approvers for room group'"
    (OnClose)="close()"></mat-dialog-header>

<mat-dialog-content>
    <app-approver-assigner
        [roomGroup]="roomGroup"></app-approver-assigner>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-raised-button
        [color]="'primary'"
        (click)="close()">
        Ok
    </button>
</mat-dialog-actions>