<mat-drawer-container class="side-menu-container">
    <mat-drawer 
        mode="side"
        class="side-menu" 
        opened>
        <side-menu></side-menu>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>