<div class="wrapper">
    <app-tooltip-toolbar
        (OnEditBtnClick)="emitClickBtn(OnEditBtnClick)"
        (OnDeleteBtnClick)="emitClickBtn(OnDeleteBtnClick)"
        (OnCloseBtnClick)="emitClickBtn(OnCloseBtnClick)">
    </app-tooltip-toolbar>

    <app-tooltip-info [event]="event"></app-tooltip-info>
</div>
