<dx-data-grid
    [dataSource]="equipment"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true">
    
    <dxo-search-panel
        [visible]="true"
        [width]="250"
        placeholder="Search"></dxo-search-panel>

    <dxo-paging
        [enabled]="true"
        [pageSize]="30"></dxo-paging>

    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 15, 30, 50, 75, 100]">
    </dxo-pager>

    <dxi-column
        [dataField]="'name'"
        [caption]="'Name'"
        [dataType]="'string'"
        [alignment]="'left'"
        [width]="250"
        [cellTemplate]="'NameTemplate'">
    </dxi-column>

    <dxi-column
        [dataField]="'code'"
        [caption]="'Code'"
        [dataType]="'string'"
        [alignment]="'left'"
        [width]="150"
        [cellTemplate]="'CodeTemplate'">
    </dxi-column>

    <dxi-column
        [dataField]="'type'"
        [caption]="'Type'"
        [dataType]="'string'"
        [alignment]="'center'"
        [width]="120"
        [cellTemplate]="'TypeTemplate'">
    </dxi-column>

    <dxi-column
        [dataField]="'description'"
        [caption]="'Description'"
        [dataType]="'string'"
        [alignment]="'left'"
        [cellTemplate]="'DescriptionTemplate'">
    </dxi-column>

    <dxi-column
        [caption]="'Edit'"
        [width]="120"
        [cellTemplate]="'EditTemplate'"
        [alignment]="'center'">
    </dxi-column>

    <dxi-column
        [caption]="'Delete'"
        [width]="120"
        [cellTemplate]="'DeleteTemplate'"
        [alignment]="'center'">
    </dxi-column>


    <div *dxTemplate="let equipment of 'NameTemplate'">
        <span *ngIf="equipment.data.name">{{ equipment.data.name }}</span>
    </div>

    <div *dxTemplate="let equipment of 'CodeTemplate'">
        <span *ngIf="equipment.data.code">{{ equipment.data.code }}</span>
    </div>

    <div *dxTemplate="let equipment of 'TypeTemplate'">
        <ng-container *ngIf="(equipment.data.type | getEquipmentDataByType) as equipmentType">
            <span 
                *ngIf="equipment.data.type | isNumber"
                [class]="equipmentType.iconClass + ' icon'"
                [matTooltip]="equipmentType.name">
            </span>
        </ng-container>
    </div>

    <div *dxTemplate="let equipment of 'DescriptionTemplate'">
        <span *ngIf="equipment.data.description">{{ equipment.data.description }}</span>
    </div>

    <div *dxTemplate="let event of 'EditTemplate'">
        <button
            mat-icon-button
            [matTooltip]="'Edit'"
            [matTooltipPosition]="'above'"
            (click)="OnEditButtonClick.next(event.data)">
            <i class="fas fa-pen"></i>
        </button>
    </div>

    <div *dxTemplate="let event of 'DeleteTemplate'">
        <button
            mat-icon-button
            [color]="'warn'"
            [matTooltip]="'Delete'"
            [matTooltipPosition]="'above'"
            (click)="OnDeleteButtonClick.next(event.data)">
            <i class="far fa-trash-alt"></i>
        </button>
    </div>
</dx-data-grid>
