<div class="wrapper">
    <span
        *ngIf="title"
        [class.text-secondary]="disabled">{{ title }}</span>

    <dx-tag-box
        #TagBox
        [placeholder]="placeholder"
        [showClearButton]="showClearButton"
        [searchEnabled]="searchEnabled"
        [items]="autocompleteItems"
        [displayExpr]="displayExpr"
        [valueExpr]="valueExpr"
        [disabled]="disabled"
        [(value)]="assignedItems"
        (onValueChanged)="onValueChange($event)"
        (onFocusIn)="onFocus($event)"
        (onKeyUp)="onKeyDown($event)"></dx-tag-box>
</div>