<mat-form-field>

    <mat-chip-list #chipList>

        <ng-template ngFor let-equipmentId [ngForOf]="selectedEquipmentIds">
            <mat-chip
                *ngIf="(equipmentId | getEquipmentById:equipmentMap) as equipment"
                [selectable]="true"
                [removable]="true"
                (removed)="onChipCloseBtnClick(equipmentId)">

                {{ equipment.name }}

                <i
                    matChipRemove
                    class="fas fa-times-circle fa-lg chip-close"
                    [matTooltip]="'Remove'"
                    [matTooltipPosition]="'above'"></i>
            </mat-chip>
        </ng-template>

        <input
            #Field
            placeholder="Equipment"
            [matAutocomplete]="equipmentAutocompete"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (focus)="onFocus()"
            (keydown)="onKeyDown($event)">

    </mat-chip-list>

    <mat-autocomplete
        #Autocomplete
        #equipmentAutocompete="matAutocomplete"
        (optionSelected)="onAutocompleteItemSelected($event)">
        <mat-option
            *ngFor="let equipment of equipmentAutocomplete"
            [value]="equipment">
            <div>
                <strong>{{ equipment.name }}</strong>
                <br>
                <span class="text-secondary">{{ equipment.description | slice:0:140 }}</span>
            </div>
        </mat-option>
    </mat-autocomplete>

</mat-form-field>