<div class="wrapper">
    <form 
        [formGroup]="formGroup">

        <mat-form-field>
            <input 
                matInput
                required
                [formControl]="formGroup.controls.number"
                placeholder="Bill number">

            <mat-error *ngIf="formGroup.controls.number.hasError('required')">
                This field is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Request event</mat-label>
            <mat-select
                [formControl]="formGroup.controls.requestEventId"
                required>
                <mat-option *ngFor="let requestEvent of requestEvents" [value]="requestEvent.id">
                    {{ requestEvent.name }}
                </mat-option>
            </mat-select>

            
            <mat-error *ngIf="formGroup.controls.requestEventId.hasError('required')">
                This field is required
            </mat-error>
        </mat-form-field>

        <invoice-status-selector
            [formControl]="formGroup.controls.status"></invoice-status-selector>

        <mat-form-field>
            <input 
                matInput
                required
                [formControl]="formGroup.controls.invoiceDate"
                [matDatepicker]="picker" 
                placeholder="Invoice date"
                (click)="picker.open()">

            <mat-datepicker-toggle
                [for]="picker" 
                matSuffix></mat-datepicker-toggle>

            <mat-datepicker 
                #picker></mat-datepicker>

            <mat-error *ngIf="formGroup.controls.invoiceDate.hasError('required')">
                This field is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea 
                matInput
                [formControl]="formGroup.controls.description"
                placeholder="Description"></textarea>
        </mat-form-field>
    </form>    
</div>
