@import "_colors";

.wrapper {
    display: flex;
}

.menu {
    width: 250px;
}

.page-body {
    margin-left: 20px;
    width: 100%;
}

.back-button {
    display: flex;
    align-items: center;

    cursor: pointer;
    color: $link-color;

    &:hover {
        color: $msj-blue-official;
    }

    .back-button-text {
        font-size: 15px;
        margin-left: 10px;
    }
}

.menu-wrapper {
    margin-top: 20px;
}
