<div class="wrapper">
    <div class="menu">
        <mat-card>
            <block-menu
                [menuItems]="MenuItems">
            </block-menu>
        </mat-card>
    </div>
    <div class="page-body">
        <mat-card>
            <breadcrumbs [items]="breadCrumbsData"></breadcrumbs>

            <router-outlet></router-outlet>
        </mat-card>
    </div>
</div>
