<div *ngIf="formGroup"
    class="wrapper">
    <form [formGroup]="formGroup">
        <mat-form-field>
            <input 
                matInput 
                placeholder="Login" 
                [formControl]="formGroup.controls.login">
            <mat-error *ngIf="formGroup.controls.login.hasError('required')">
                This field is required
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input 
                matInput 
                placeholder="Password" 
                [type]="isShowPassword ? 'text' : 'password'"
                [formControl]="formGroup.controls.password">

                <i 
                    [class]="isShowPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
                    matSuffix
                    (click)="changeVisibilityPassword()">
                </i>

            <mat-error *ngIf="formGroup.controls.password.hasError('required')">
                This field is required
            </mat-error>
        </mat-form-field>
    </form>
</div>