@import "_colors";

.color-changer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
}

.clickable {
    color: $primary-color;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
        opacity: .8;
    }
}

.item-template-wrapper {
    height: 100%;
}

.room-photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.selectable-card {
    &:hover {
        border: solid 2px rgba(red($primary-color), green($primary-color), blue($primary-color), .5);
        cursor: pointer;
    }
}

.card {
    border: solid 2px transparent;
    padding-bottom: 35px;
    width: 100%;
}

.selected-card {
    border: solid 2px $primary-color !important;
}

.item-template-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection-checkbox:hover {
    cursor: pointer;
}

:host .selection-checkbox[ng-reflect-checked=true] ::ng-deep .mat-checkbox-background {
    background: $primary-color !important;
}

:host ::ng-deep mat-card {
    height: 100%;
}

:host ::ng-deep .mat-chip-list-wrapper {
    margin-top: 3px;
}

:host ::ng-deep .mat-card-header {
    width: 100%;
}

:host ::ng-deep .mat-card-header-text {
    margin: 0px !important;

    flex-grow: 3;
    max-width: 85%;
}

:host mat-card-title {
    font-size: 18px !important;
}

:host ::ng-deep .dx-gallery-item-content {
    img {
        margin: 0px auto !important;
    }
}

:host ::ng-deep mat-card-actions {
    width: calc(100% - 16px);
    margin-bottom: 8px !important;
    position: absolute;
    bottom: 0;
}