<mat-card
    *ngIf="room"
    class="card"
    [class.selected-card]="isSelected"
    [class.selectable-card]="isSelectable"
    (click)="onCardClick()">
    <div mat-card-image>
        <dx-gallery
            #PhotoGallery
            class="gallery"
            [dataSource]="(room.photos && room.photos.length) ? room.photos : ['/assets/images/no-photo-available.png']"
            [width]="'100%'"
            [height]="200"
            [slideshowDelay]="0"
            [loop]="false"
            [showNavButtons]="isGallerySliding"
            [showIndicator]="(isGallerySliding) ? (room.photos.length > 1) : false"
            [itemTemplate]="'item'"
            (onInitialized)="onPhotoGalleryInit($event)">
            <div *dxTemplate="let data of 'item'">
                <div class="item-template-wrapper">
                    <div
                        class="room-photo"
                        [style.backgroundImage]="'url(' + (data) + ')'"></div>
                </div>
            </div>
        </dx-gallery>
    </div>

    <mat-card-header>
        <div
            *ngIf="isColorSelectorEnabled"
            mat-card-avatar
            class="color-changer-wrapper">
            <room-card-color-changer
                [colorId]="room.color.id"
                (OnChangeColor)="onChangeColor($event)"></room-card-color-changer>
        </div>
        <mat-card-title
            [ngClass]="isClickable ? 'clickable' : ''"
            [matTooltip]="room.name"
            (click)="isClickable ? OnViewButtonClick.next(room) : null">
            <span>{{ room.name }}</span>
        </mat-card-title>
        <mat-card-subtitle>
            <i class="fas fa-user-friends"></i>
            Capacity: <b>{{ room.capacity }}</b>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <room-card-equipment
            [room]="room"
            [equipmentChipTooltip]="equipmentChipTooltip"
            (OnEquipmentChipClick)="OnEquipmentChipClick.emit($event)"></room-card-equipment>
    </mat-card-content>

    <mat-card-actions align="end">
        <button
            *ngIf="isClickable"
            mat-stroked-button
            [color]="'primary'"
            (click)="OnViewButtonClick.next(room)">
            <i class="far fa-eye"></i>&nbsp;
            View
        </button>

        <button
            *ngIf="isEditBtnVisible"
            mat-icon-button
            [color]="'primary'"
            [matTooltip]="'Edit'"
            [matTooltipPosition]="'above'"
            (click)="OnEditButtonClick.next(room)">
            <i class="fas fa-pen"></i>
        </button>

        <mat-checkbox
            *ngIf="isSelectable"
            #Checkbox
            class="selection-checkbox"
            [disabled]="true"
            [color]="'primary'"
            [checked]="isSelected"
            (change)="onCheckboxChecked($event)"></mat-checkbox>
    </mat-card-actions>
</mat-card>