<content-loader [showIf]="assignedApprovers">
    <ng-template>
        <room-group-approver-assigner
            [roomGroup]="roomGroup"
            [(assignedApprovers)]="assignedApprovers"
            [autocompleteFunction]="updateAutocomplete"
            (OnUserAssign)="assignApprover($event)"
            (OnUserDeassign)="deAssignApprover($event)"
            (OnClearAssign)="clearApprovers()"></room-group-approver-assigner>
    </ng-template>
</content-loader>