<dx-data-grid
    [dataSource]="invoiceServiceArray"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true"
    [keyExpr]="'serviceId'"
    [repaintChangesOnly]="true"
    (onRowUpdated)="OnInvoiceServiceUpdated.emit($event)"
    (onSelectionChanged)="onSelection($event)">

    <dxo-paging
        [enabled]="true"
        [pageSize]="30"></dxo-paging>

    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 15, 30, 50, 75, 100]">
    </dxo-pager>

    <dxo-selection
        [showCheckBoxesMode]="'always'"
        [selectAllMode]="'page'"
        [mode]="'multiple'"></dxo-selection>

    <dxo-editing 
        [mode]="'cell'"
        [allowUpdating]="true">
    </dxo-editing>

    <dxi-column
        [width]="270"
        [caption]="'Name'"
        [dataType]="'string'"
        [alignment]="'left'"
        [allowEditing]="false"
        [allowSearch]="true"
        [cellTemplate]="'NameTemplate'"></dxi-column>

    <dxi-column
        [width]="95"
        [dataField]="'price'"
        [caption]="'Price'"
        [dataType]="'number'"
        [allowEditing]="true"
        [alignment]="'center'"
        [validationRules]="[{ type: 'numeric' }, { type: 'range', min: 0, max: 999999 }]"
        [cellTemplate]="'PriceTemplate'"></dxi-column>

    <dxi-column
        [width]="95"
        [dataField]="'count'"
        [caption]="'Count'"
        [dataType]="'number'"
        [allowEditing]="true"
        [alignment]="'center'"
        [validationRules]="[{ type: 'numeric' }, { type: 'range', min: 1, max: 999999 }]"
        [cellTemplate]="'CountTemplate'"></dxi-column>

    <dxi-column
        [dataField]="'estimatedCharges'"
        [caption]="'Estimated charges'"
        [dataType]="'string'"
        [allowEditing]="true"
        [alignment]="'left'"
        [cellTemplate]="'EstimatedChargesTemplate'"></dxi-column>

    <div *dxTemplate="let invoice of 'NameTemplate'">
        {{ svcDictionary[invoice.data.serviceId].name }}

        <div class="text-secondary description-txt">
            {{ svcDictionary[invoice.data.serviceId].description }}
        </div>

        <span class="text-success description-txt">
            Checked by Client
            <i class="fas fa-check"></i>
        </span>
    </div>

    <div
        *dxTemplate="let invoice of 'PriceTemplate'"
        class="no-wrap">
        <strong class="text-success">{{ invoice.data.price }}</strong>
        &nbsp;
        <i class="far fa-edit text-secondary"></i>
    </div>

    <div
        *dxTemplate="let invoice of 'CountTemplate'"
        class="no-wrap">
        <strong>{{ invoice.data.count }}</strong>
        &nbsp;
        <i class="far fa-edit text-secondary"></i>
    </div>

    <div *dxTemplate="let invoice of 'EstimatedChargesTemplate'">
        <i>{{ invoice.data.estimatedCharges }}</i>
        &nbsp;
        <i class="far fa-edit text-secondary"></i>
    </div>

</dx-data-grid>

<ng-template #emptyData>
    -
</ng-template>