<div class="wrapper">
    <ng-template ngFor [ngForOf]="menuItems" let-item>
        <div
            *ForbiddenFor="item.forbiddenFor || []"
            class="item-wrapper"
            matRipple
            [routerLink]="item.link"
            routerLinkActive="selected-item-wrapper"
            queryParamsHandling="merge">
            <span
                *ngIf="item.iconClass"
                [class]="item.iconClass + ' item-icon'">
            </span>
            <span 
                class="item-name">
                {{ item.name }}
            </span>
        </div>
    </ng-template>
</div>
