@import "_colors";

.item-wrapper {
    height: 40px;
    width: 100%;

    outline: none;

    cursor: pointer;

    padding: 0 0 0 10px;

    display: flex;
    align-items: center;

    border-radius: 0 40px 40px 0;

    &:hover {
        background-color: rgba($msj-blue-official, 0.1);
    }

    .item-icon {
        color: $info-button;
    }
    
    .item-name {
        margin-left: 20px;
        color: $info-button;
    }
}

.selected-item-wrapper {
    background-color: rgba($msj-blue-official, 0.3) !important;
}

