@import "_colors";

.wrapper {
    display: flex;

    .link-text {
        color: $link-color;
        cursor: pointer;

        &:hover {
            color: $msj-blue-official;
            text-decoration: underline;
        }
    }

    .last-item-text {
        font-weight: 800;
    }

    .slash {
        padding: 0px 5px 0px 5px;
    }
}
