<div class="wrapper">
    <ng-template
        ngFor
        [ngForOf]="items"
        let-item
        let-i="index">
        <ng-template
            [ngIf]="(items.length - 1) > i"
            [ngIfElse]="lastElement">
            <span 
                class="link-text"
                (click)="redirectToLink(item.link, item.parameters)">
                {{ item.name }}
            </span>
            <span class="slash">
                /
            </span>
        </ng-template>

        <ng-template #lastElement>
            <span
                class="last-item-text">
                {{ item.name }}
            </span>
        </ng-template>
    </ng-template>
</div>
