@import "_colors";

.wrapper {
    height: 100%;

    // background-color: $msj-blue-accent;
    background-image: url(/assets/images/university_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
    justify-content: center;
}

.authorization-block {
    margin-top: 40px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.15));
}

.card {
    width: 400px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.toolbar {
    width: 100%;
    display: flex;

    margin-top: 20px;

    justify-content: flex-end;
}

:host::ng-deep .sign-in-button {
    width: 100%;
}

