<div class="wrapper">
    <div class="authorization-block">
        <div class="title">
            <img src="/assets/images/msj-logo-header.png" />
        </div>

        <mat-card
            [@wobble]="{
                value: isAnimateIncorrectInput,
                params: { timing: incorrectInputAnimTimeInSeconds }
            }"
            class="card"
            (keyup.enter)="signIn()">
            <user-authorization-form
                (OnFormInit)="onAuthorizationFormInit($event)">
            </user-authorization-form>

            <div class="toolbar">
                <button
                    *ButtonLoader="signInSubscription"
                    mat-raised-button
                    color="primary"
                    type="submit"
                    class="sign-in-button"
                    (click)="signIn()">
                    <span>
                        SignIn
                    </span>
                </button>
            </div>
        </mat-card>
    </div>
</div>
