<mat-list>
    <mat-list-item *ngFor="let space of spaces">
        <div class="name">
            {{ space.name }}
        </div>

        <div class="edit-btn-wrapper">
            <button
                mat-icon-button
                (click)="onSpaceEdit(space)">
                <i class="fas fa-pen"></i>
            </button>
        </div>

        <div class="delete-btn-wrapper">
            <button
                mat-icon-button
                (click)="onSpaceDelete(space)">
                <i class="fas fa-trash-alt"></i>
            </button>
        </div>

        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>
