<dx-data-grid
    [dataSource]="logs || dataSource"
    [remoteOperations]="(dataSource) ? { filtering: true, sorting: true, paging: true, grouping: true } : null"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true">

    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <dxo-search-panel
        [visible]="true"
        [width]="250"
        placeholder="Search"></dxo-search-panel>

    <dxo-paging
        [enabled]="true"
        [pageSize]="30"></dxo-paging>

    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 15, 30, 50, 75, 100]">
    </dxo-pager>

    <dxi-column
        [dataField]="'type'"
        [caption]="'Type'"
        [dataType]="'number'"
        [filterOperations]="['=']"
        [filterType]="'include'"
        [headerFilter]="{ dataSource: typeHeaderFilterItems }"
        [alignment]="'left'"
        [allowSearch]="false"
        [cellTemplate]="'TypeTemplate'"></dxi-column>
    
    <dxi-column
        [dataField]="'info'"
        [caption]="'Info'"
        [allowFiltering]="false"
        [allowSearch]="true"
        [dataType]="'string'"
        [alignment]="'left'"
        [cellTemplate]="'InfoTemplate'"></dxi-column>

    <dxi-column
        [dataField]="'date'"
        [caption]="'Date'"
        [dataType]="'date'"
        [alignment]="'left'"
        [cssClass]="'text-secondary'"
        [cellTemplate]="'DateTemplate'"></dxi-column>

    <dxi-column
        [dataField]="'ip'"
        [caption]="'IP'"
        [dataType]="'string'"
        [alignment]="'left'"
        [cellTemplate]="'IpTemplate'"></dxi-column>

    <dxi-column
        [dataField]="'userName'"
        [caption]="'User'"
        [dataType]="'string'"
        [alignment]="'left'"
        [cellTemplate]="'UserTemplate'"></dxi-column>

    <div *dxTemplate="let actionLog of 'TypeTemplate'">
        <ng-container *ngIf="(actionLog.data.type | getActionLogDataByType) as actionLogType">
            {{ actionLogType.name }}
        </ng-container>
    </div>

    <div *dxTemplate="let actionLog of 'InfoTemplate'">
        <span
            *ngIf="actionLog.data.info; else emptyData"
            [innerHTML]="actionLog.data.info | markdownToHtml | safeHtml"></span>
    </div>

    <div *dxTemplate="let actionLog of 'DateTemplate'">
        <span *ngIf="actionLog.data.date; else emptyData">{{ actionLog.data.date | date:"medium" }}</span>
    </div>

    <div *dxTemplate="let actionLog of 'IpTemplate'">
        <span *ngIf="actionLog.data.ip; else emptyData">{{ actionLog.data.ip }}</span>
    </div>

    <div *dxTemplate="let actionLog of 'UserTemplate'">
        <span *ngIf="actionLog.data.userName; else emptyData">{{ actionLog.data.userName }}</span>
    </div>
</dx-data-grid>

<ng-template #emptyData>
    -
</ng-template>