<content-loader [showIf]="roomArray">
    <ng-template>
        <div class="wrapper">
            <div
                class="capacity-block"
                [class.text-danger]="(+selectedRoomsCapacity < +roomBookingData.capacity)"
                [class.text-success]="(+selectedRoomsCapacity >= +roomBookingData.capacity)">
                Capacity of selected rooms: <strong>{{ selectedRoomsCapacity }}/{{ roomBookingData.capacity }}</strong> people
            </div>
        
            <room-entity-cards-list
                [selectedRoomIds]="selectedRoomIds"
                [roomArray]="roomArray"
                [isGallerySliding]="false"
                [isClickable]="false"
                [isSelectable]="true"
                [isColorSelectorEnabled]="false"
                (OnSelectionChange)="onRoomsSelectionChange($event)"></room-entity-cards-list>
        </div>
    </ng-template>
</content-loader>