<div class="wrapper">
    <content-loader
        [showIf]="events && rooms">
        <ng-template>
            <app-calendar
                [events]="events"
                [rooms]="rooms"
                [currentDate]="fromDate"
                [isReadOnly]="true"
                (OnDateRangeChanged)="onDateRangeChanged($event)">
            </app-calendar>
        </ng-template>
    </content-loader>
</div>
