<form
    *ngIf="formGroup"
    [formGroup]="formGroup">
    <div class="row">
        <div class="col-12">
            <mat-form-field>
                <input 
                    matInput
                    required
                    placeholder="Name" 
                    [formControl]="formGroup.controls.name">

                <mat-error *ngIf="formGroup.controls.name.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field>
                <textarea
                    matInput
                    placeholder="Description" 
                    [formControl]="formGroup.controls.description"></textarea>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field>
                <span
                    matPrefix
                    class="fas fa-dollar-sign text-secondary"></span>

                <input 
                    matInput
                    required
                    type="number"
                    min="{{ priceMinVal }}"
                    placeholder="Price" 
                    [formControl]="formGroup.controls.price">

                <mat-error *ngIf="formGroup.controls.price.hasError('required')">
                    This field is required
                </mat-error>

                <mat-error *ngIf="formGroup.controls.price.hasError('min')">
                    Minimum value is ${{ priceMinVal }}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-checkbox
                [color]="'primary'"
                [formControl]="formGroup.controls.isShowForClient">
                Show for client
            </mat-checkbox>
        </div>
    </div>
</form>