<mat-dialog-header
    [iconClass]="'fas fa-plus'"
    [title]="'Create request event'"
    (OnClose)="close()"></mat-dialog-header>

<mat-dialog-content>
    <request-event-action-stepper
        #ActionStepper
        (OnStepChange)="onStepChanged($event)"
        (OnDataChange)="onDataChanged($event)"
        (OnBookingFormInit)="onBookingFormStateChanged($event)"
        (OnGeneralInfoFormInit)="onGeneralInfoFormStateChanged($event)"></request-event-action-stepper>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-raised-button
        [disabled]="currentStep === stepsEnum.Booking"
        (click)="onSecondaryButtonClick()">
        <i class="fas fa-arrow-left"></i>
        Back
    </button>

    <button
        *ButtonLoader="creationSubscription"
        mat-raised-button
        [color]="'primary'"
        (click)="onMainButtonClick()">
        <span [ngSwitch]="currentStep">
            <span *ngSwitchCase="stepsEnum.GeneralInfo">
                Create
                <i class="fas fa-save"></i>
            </span>

            <span *ngSwitchDefault>
                Next
                <i class="fas fa-arrow-right"></i>
            </span>
        </span>
    </button>

    <ng-template [ngIf]="currentStep === stepsEnum.GeneralInfo">
        <button
            *ButtonLoader="creationSubscription"
            mat-raised-button
            class="green-button"
            (click)="onSubmitForApprovalButtonClick()">
            Submit For Approval
            <i class="fas fa-check"></i>
        </button>
    </ng-template>
    
</mat-dialog-actions>