<page-title></page-title>

<mat-tab-group
    [(selectedIndex)]="openedTab"
    (selectedTabChange)="onSelectedTabChange()">
    <mat-tab label="Rooms list">
        <ng-template matTabContent>
            <app-rooms-list></app-rooms-list>
        </ng-template>
    </mat-tab>
    <mat-tab
        *AvailableFor="[roleEnum.SuperUser]"
        label="Rooms groups">
        <ng-template matTabContent>
            <app-room-groups></app-room-groups>
        </ng-template>
    </mat-tab>
</mat-tab-group>

