<dx-data-grid
    [dataSource]="events || dataSource"
    [remoteOperations]="(dataSource) ? { filtering: true, sorting: true, paging: true, grouping: true } : null"
    [focusedRowEnabled]="(itemIdToSelect) ? true : false"
    [focusedRowKey]="itemIdToSelect"
    autoNavigateToFocusedRow="1"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true">

    <dxo-header-filter [visible]="true"></dxo-header-filter>

    <dxo-search-panel
        [visible]="true"
        [width]="250"
        placeholder="Search"></dxo-search-panel>

    <dxo-paging
        [enabled]="true"
        [pageSize]="30"></dxo-paging>

    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 15, 30, 50, 75, 100]">
    </dxo-pager>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.Name]"
        [dataField]="'name'"
        [caption]="'Name'"
        [dataType]="'string'"
        [alignment]="'left'"
        [allowSearch]="true"
        [cssClass]="'font-weight-bold'"
        [cellTemplate]="'NameTemplate'"></dxi-column>
    
    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.DateStart]"
        [dataField]="'start'"
        [caption]="'Start date'"
        [dataType]="'date'"
        [alignment]="'left'"
        [allowSearch]="false"
        [allowFiltering]="true"
        [allowSorting]="true"
        [cssClass]="'text-secondary'"
        [cellTemplate]="'StartDateTemplate'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.DateEnd]"
        [dataField]="'end'"
        [caption]="'End date'"
        [dataType]="'date'"
        [alignment]="'left'"
        [allowSearch]="false"
        [allowFiltering]="true"
        [allowSorting]="true"
        [cssClass]="'text-secondary'"
        [cellTemplate]="'EndDateTemplate'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.Location]"
        [dataField]="'location'"
        [caption]="'Location'"
        [dataType]="'string'"
        [alignment]="'left'"
        [allowSearch]="true"
        [allowFiltering]="false"
        [cellTemplate]="'LocationTemplate'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.Author]"
        [dataField]="'author'"
        [caption]="'Author'"
        [dataType]="'string'"
        [alignment]="'left'"
        [allowSearch]="true"
        [allowFiltering]="false"
        [cellTemplate]="'AuthorTemplate'"></dxi-column>

    <dxi-column
        [caption]="'All day'"
        [alignment]="'center'"
        [cellTemplate]="'IsAllDayTemplate'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.Edit]"
        [caption]="'Edit'"
        [cellTemplate]="'EditTemplate'"
        [alignment]="'center'"></dxi-column>

    <dxi-column
        *ngIf="!forbiddenColumnsDictionary[columnsEnum.Delete]"
        [caption]="'Delete'"
        [cellTemplate]="'DeleteTemplate'"
        [alignment]="'center'"></dxi-column>

    <div *dxTemplate="let event of 'NameTemplate'">
        <span *ngIf="event.data.name; else emptyData">{{ event.data.name }}</span>
    </div>

    <div *dxTemplate="let event of 'StartDateTemplate'">
        <span *ngIf="event.data.start; else emptyData">{{ event.data.start | date:"medium" }}</span>
    </div>

    <div *dxTemplate="let event of 'EndDateTemplate'">
        <span *ngIf="event.data.end; else emptyData">{{ event.data.end | date:"medium" }}</span>
    </div>

    <div *dxTemplate="let event of 'LocationTemplate'">
        <span *ngIf="event.data.roomNames; else emptyData">
            <span *ngFor="let roomName of event.data.roomNames">{{ roomName }};&nbsp;</span>
        </span>
    </div>

    <div *dxTemplate="let event of 'AuthorTemplate'">
        <span *ngIf="event.data.author; else emptyData">{{ event.data.author }}</span>
    </div>

    <div *dxTemplate="let event of 'IsAllDayTemplate'">
        <i
            *ngIf="event.data.isAllDayEvent"
            class="fas fa-check"></i>

        <i
            *ngIf="!event.data.isAllDayEvent"
            class="fas fa-minus"></i>
    </div>

    <div *dxTemplate="let event of 'EditTemplate'">
        <button
            mat-icon-button
            [matTooltip]="'Edit'"
            [matTooltipPosition]="'above'"
            (click)="OnEditButtonClick.next(event.data)">
            <i class="fas fa-pen"></i>
        </button>
    </div>

    <div *dxTemplate="let event of 'DeleteTemplate'">
        <button
            mat-icon-button
            [color]="'warn'"
            [matTooltip]="'Delete'"
            [matTooltipPosition]="'above'"
            (click)="OnDeleteButtonClick.next(event.data)">
            <i class="far fa-trash-alt"></i>
        </button>
    </div>
</dx-data-grid>

<ng-template #emptyData>
    -
</ng-template>