<form
    *ngIf="formGroup"
    [formGroup]="formGroup">
    <div class="row">
        <div class="col-12">
            <mat-form-field>
                <input 
                    matInput
                    required
                    placeholder="Name" 
                    [formControl]="formGroup.controls.name">

                <mat-error *ngIf="formGroup.controls.name.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field>
                <textarea
                    matInput
                    placeholder="Description"
                    [formControl]="formGroup.controls.description"></textarea>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field>
                <input 
                    matInput
                    placeholder="Code" 
                    [formControl]="formGroup.controls.code">
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field>
                <mat-label>Equipment type</mat-label>
                <mat-select
                    required
                    [formControl]="formGroup.controls.type">
                    <mat-option
                        *ngFor="let equipmentType of equipmentTypeArray"
                        [value]="equipmentType.id">
                    <i [ngClass]="equipmentType.iconClass"></i>&nbsp;
                    {{ equipmentType.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-error *ngIf="formGroup.controls.type.hasError('required')">
                This field is required
            </mat-error>
        </div>
    </div>
</form>