<div class="wrapper">
    <button
        mat-icon-button 
        class="button"
        (click)="emitClickBtn(OnEditBtnClick)">
        <i class="fas fa-edit"></i>
    </button>

    <button
        mat-icon-button 
        class="button"
        (click)="emitClickBtn(OnDeleteBtnClick)">
        <i class="fas fa-trash-alt"></i>
    </button>

    <button
        mat-icon-button 
        class="button"
        (click)="emitClickBtn(OnCloseBtnClick)">
        <i class="fas fa-times"></i>
    </button>
</div>
