<content-loader [showIf]="svcArray">
    <ng-template>
        <div class="wrapper">
            <strong>Please, select services that you need</strong>
            <svc-list
                *ngIf="svcArray.length; else emptySvcArray"
                [selectedSvcIds]="selectedSvcIds"
                [svcArray]="svcArray"
                [isSelectable]="true"
                (OnSelection)="onSvcSelectionChanged($event)"></svc-list>
        </div>
    </ng-template>
</content-loader>

<ng-template #emptySvcArray>
    <strong>No Services</strong>
</ng-template>