<div 
    [ngClass]="{
        'menu-wrapper': true,
        'menu-is-open': isOpened,
        'menu-is-close': !isOpened
    }"
    [ngStyle]="{
        'width': menuWidth
    }"
    (mouseenter)="onMouseEnter($event)"
    (mouseleave)="onMouseLeave($event)">

    <div 
        class="header">
            <div class="top-side">
                <img
                    id="logo"
                    src="../../../../assets/images/msj-logo-header.png">
            </div>
        <div
        [style.width]="menuSizes.opened"
        class="user-data">
            <div 
                [ngClass]="{
                    'user-data-hidden': !isOpened
                }"
                class="user-login">
                {{ userInfo.name }}
            </div>

            <app-profile-avatar
                class="user-photo"
                [userName]="userInfo.name" 
                [userPhotoSrc]="userInfo.photoBase64String"
                [ngClass]="{
                    'user-photo-visible': isOpened,
                    'user-photo-hidden': !isOpened
                }">
            </app-profile-avatar>
        </div>
    </div>
    <!-- <div 
        class="opacity-menu-block">
    </div> -->
    <div class="body"
        [ngClass]="{
            'body-visible': isOpened,
            'body-hidden': !isOpened
        }">
            <div>
                <app-items-list
                    [isOpened]="isOpened"
                    [currentWidth]="menuWidth"
                    [menuItemsList]="menuItems"
                    [showTooltip]="false">
                </app-items-list>
            </div>
    </div>

    <div class="custom-items-wrapper">
        <button
            class="sign-out-button"
            mat-button
            (click)="onLogOutButtonClick()">
            <i 
                class="fas fa-sign-out-alt button-icon"></i>
            <span
                style="margin-left: 14px;"
                [ngClass]="{
                    'button-text-hidden': !isOpened
                }"
                class="button-text">Exit</span>
        </button>
    </div>
  
</div>
<div 
    class="opacity-block"
    [style.width]="isFixed? menuSizes.opened : menuSizes.closed">
</div>