@import url("https://fonts.googleapis.com/css?family=Krona+One");
@import "_colors";

@-moz-document url-prefix()
{
    .body {
        scrollbar-width: thin !important;
        scrollbar-color: rgba($msj-blue-accent, .4) rgba(#000000, .0);
    }
}

.menu-wrapper {
    position: fixed;
    background: $msj-blue-official;
    height: 100%;
    z-index: 999;

    display: flex;
    flex-direction: column;

    top: 0;
    left: 0;

    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: all 0.3s;
}
.menu-is-open {
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    .header {
      #pin-menu-btn {
          opacity: 1;
          transition: opacity 0.5s;
      }
    }
}
.menu-is-close {
    .header {
        #pin-menu-btn {
            opacity: 0;
            transition: opacity 0.3s;
        }
      }
}

.header {
    background-color: $msj-blue-accent;
    height: 180px;
    overflow-x: hidden;

    .top-side {
        display: flex;
        align-content: center;
        padding: 10px;
        #logo {
            height: 55px;
        }
        #pin-menu-btn {
            color: #ffffff;
            margin-left: auto;
            outline: none !important;
        }
    }
}
.body {
    overflow-x: hidden;

    transition: padding-top 0.2s;
    padding-top: 28px;

    scrollbar-width: thin !important;
}

.opacity-block {
    width: 240px;
}

.opacity-menu-block {
    height: 30px;
}

.user-data {
    text-align: center;
    width: 100%;
    padding-top: 19px;

    .user-login {
        color: #ffffff;
        font-size: 17px;
        display: block;
        min-height: 23px;
    }

    .user-mail {
        padding-top: 5px;
        color: #979ba3;
        font-size: 13px;
        display: block;
        word-break: break-all;

        min-height: 23px;
    }

    transition: all 0.3s;
}

.user-data-hidden {
    opacity: 0;

    transition: all 0.3s;
}

.user-photo {
    position: absolute;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;

    transition: all 0.3s;
    border-radius: 50%;
}

.user-photo-visible {
    width: 75px;
    height: 75px;
    margin-top: 17px;

    border: 5px solid $msj-blue-official;
}

.user-photo-hidden {
    width: 50px;
    height: 50px;

    margin-top: -20px;

    border: 0px solid #303030;
    
}

::ng-deep.dx-scrollview-content {
    height: 100% !important;
}

.footer {
    height: 100%;
}

.custom-items-wrapper {
    margin-top: auto;
}

.sign-out-button {
    width: 100%;
    color: $white-color;
    text-align: left;
}

.button-text-visible {
    opacity: 1;

    transition: opacity 0.3s;
}

.button-text-hidden {
    opacity: 0;

    transition: opacity 0.3s;
}

.button-icon {
    margin-left: 10px;
    padding-right: 10px;
}

@media screen and (max-height: 780px) {
    .header {
        height: 210px;
    }

    .body {
        margin-top: 5px;
        padding-top: 14px;
    }

    .user-photo-visible {
        width: 65px;
        height: 65px;
    }
}


::-webkit-scrollbar-track
{
	opacity: 0;
}

::-webkit-scrollbar
{
	width: 5px;
    opacity: 0;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba($msj-blue-accent, .3);
	background-color: rgba(#555, .4);
}

