<mat-dialog-header
    [title]="'Create space'"
    (OnClose)="close(false)"></mat-dialog-header>

<mat-dialog-content>
    <space-form
        [rooms]="rooms"
        (OnFormInit)="spaceFormInit($event)">
    </space-form>
</mat-dialog-content>

<mat-dialog-actions
    align="end">
    <button
        *ButtonLoader="createSpaceSubscription"
        mat-raised-button
        color="primary"
        (click)="createSpace()">
        Create
    </button>
</mat-dialog-actions>
