<content-loader
    [showIf]="reports">
    <ng-template>
        <report-list
            [reports]="reports"
            (OnSelected)="onReportListSelected($event)"></report-list>
    </ng-template>
</content-loader>
