<mat-list>
    <mat-list-item *ngFor="let room of roomArray">
        <mat-checkbox
            *ngIf="isSelectable"
            mat-list-icon
            [color]="'primary'"
            (change)="onRoomSelectionChange(room)"></mat-checkbox>

        <h4 mat-line>{{ room.name }}</h4>

        <p
            mat-line
            class="text-secondary">
            Capacity:&nbsp;{{ room.capacity }}
        </p>
    </mat-list-item>
</mat-list>