<mat-dialog-header
    [iconClass]="'fas fa-plus'"
    [title]="'Create equipment'"
    (OnClose)="close()"></mat-dialog-header>

<mat-dialog-content>
    <equipment-creation-form
        (OnFormInit)="onEquipmentFormGroupInit($event)"></equipment-creation-form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        *ButtonLoader="creationSubscription"
        mat-raised-button
        [color]="'primary'"
        (click)="createEquipment()">
        Create
    </button>
</mat-dialog-actions>