<div
    *ngIf="roomArray.length; else emptyRoomArray"
    class="container">
    <div class="row">
        <div
            *ngFor="let room of roomArray; trackBy: trackByFunction"
            class="col-sm-12 col-md-6 col-lg-4 col-xl-3 column">

            <room-entity-card
                #RoomCard
                [room]="room"
                [equipmentChipTooltip]="equipmentChipTooltip"
                [isClickable]="isClickable"
                [isEditBtnVisible]="isEditBtnVisible"
                [isGallerySliding]="isGallerySliding"
                [isSelectable]="isSelectable"
                [isColorSelectorEnabled]="isColorSelectorEnabled"
                (OnChangeColorButtonClick)="OnChangeColorButtonClick.next($event)"
                (OnEquipmentChipClick)="OnEquipmentChipClick.emit($event)"
                (OnViewButtonClick)="OnViewButtonClick.next($event)"
                (OnEditButtonClick)="OnEditButtonClick.next($event)"
                (OnSelected)="onRoomSelected($event)"
                (OnDeselected)="onRoomDeselected($event)"></room-entity-card>

        </div>
    </div>
</div>

<ng-template #emptyRoomArray>
    <strong>{{ noRoomsText }}</strong>
</ng-template>