<page-title
    [title]="currentTabData.name"
    [iconClass]="currentTabData.iconClass"></page-title>

<content-loader
    [showIf]="roomTypes">
    <ng-template>
        <room-selector-type
            [(ngModel)]="roomTypes">
        </room-selector-type>
        
        <fab-button
            *ButtonLoader="saveRoomLayoutsSubscription"
            [iconClass]="'fas fa-save'"
            (click)="saveRoomLayouts()"></fab-button>
    </ng-template>
</content-loader>