<div class="wrapper">
    <div class="header">
        <span class="name">
            {{ event.name }}
        </span>

        <div
            *ngIf="event.recurrenceRule" 
            class="is-reccurent">
            <i class="fas fa-retweet"></i>
        </div>
    </div>
    <div
        *ngIf="currentView !== CalendarViewType.Month" 
        class="date">
        <span
            class="simple-appointment-date">
            {{ (event.start | date:"shortTime") + ' - ' + (event.end | date:"shortTime") }}
        </span>
    </div>
</div>
