@import "_colors";

.wrapper {

    .header {
        width: 100%;
        display: flex;
        color: $white-color;

        .name {
            font-weight: 500;
            font-size: 13px;
            max-width: 80%;
            overflow: hidden;
        }

        .is-reccurent {
            margin-left: auto;
            margin-right: 5px;
        }
    }

    .date {
        color: $white-color;
        font-size: 13px;
    }
}
