<h1 mat-dialog-title>Invoice editing</h1>

<mat-dialog-content>
    <content-loader
        [showIf]="requestEvents">
        <ng-template>
            <invoice-editing-form
                [inputData]="invoice"
                [requestEvents]="requestEvents"
                (OnFormInit)="onInvoiceEditingFormInit($event)"></invoice-editing-form>
        </ng-template>
    </content-loader>
</mat-dialog-content>

<mat-dialog-actions
    align="end">
    <button
        *ButtonLoader="editingInvoiceSubscription"
        mat-raised-button
        color="primary"
        (click)="onEditingButtonClick()">
        Save
    </button>
</mat-dialog-actions>