<mat-dialog-header
    [iconClass]="'fas fa-user-edit'"
    [title]="'Edit user'"
    (OnClose)="close()"></mat-dialog-header>

<mat-dialog-content>
    <content-loader [showIf]="user">
        <ng-template>
            <user-editing-form
                [inputData]="user"
                (OnFormInit)="onUserFormGroupInit($event)"></user-editing-form>
        </ng-template>
    </content-loader>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        *ButtonLoader="savingSubscription"
        mat-raised-button
        [color]="'primary'"
        (click)="editUser()">
        Save
    </button>
</mat-dialog-actions>