@import "_colors";

.wrapper {
    width: 65px;
    height: 100vh;
    background-color: $msj-blue-official;
    box-shadow: -2px 0px 15px 0px rgba(0,0,0,0.75);

    position: fixed;

    display: flex;
    flex-direction: column;

    padding: 10px 0px 10px 0px;

    .bottom-side {
        margin-top: auto;
    }

    .menu-item {
        color: $white-color;
        height: 50px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        outline: none;

        &:hover {
            background-color: rgba($color: $black-color, $alpha: .1)
        }
    }
}

.active-link {
    background-color: rgba($color: $black-color, $alpha: .2);
}
