<div class="wrapper">
    <div class="top-side">
        <div
            *ngFor="let item of VisitorMenuItemsArray" 
            class="menu-item"
            [matTooltip]="item.name"
            [routerLink]="['/' + item.link]"
            routerLinkActive="active-link"
            matTooltipPosition="left"
            matRipple>
            <i
                [class]="item.iconClass">
            </i>
        </div>
    </div>
    <div class="bottom-side">
        <div 
            class="menu-item"
            [matTooltip]="'Log In'"
            matTooltipPosition="left"
            matRipple
            (click)="logIn()">
            <i class="fas fa-sign-in-alt"></i>
        </div>
    </div>
</div>
