<mat-dialog-header
    [title]="data.title"
    (OnClose)="closeWithResult(false)"></mat-dialog-header>

<mat-dialog-content [innerHTML]="data.message | safeHtml"></mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        color="primary"
        mat-raised-button
        cdkFocusInitial
        cdkFocusRegionEnd
        (click)="closeWithResult(true)">Confirm</button>
</mat-dialog-actions>