<div class="wrapper">
    <dx-drop-down-box
        [width]="400"
        [showClearButton]="true"
        valueExpr="id"
        id="room-selector-box"
        placeholder="Select rooms">

        <div *dxTemplate="let data of 'content'">

            <dx-scroll-view
                class="list-scroll">
                <div class="list-toolbar">
                    <button
                        mat-button
                        color="primary"
                        class="select-button"
                        (click)="onClickSelectAll()">Select all</button>

                    <button
                        mat-button
                        color="primary"
                        class="deselect-button"
                        (click)="onClickDeselectAll()">Unselect all</button>
                </div>

                <mat-selection-list 
                    color="primary"
                    [(ngModel)]="selectedRooms"
                    [compareWith]="compareWith"
                    (selectionChange)="onListChanged($event)">
                    <mat-list-option 
                        *ngFor="let room of rooms; trackBy: trackByRooms"
                        [value]="room">
                        {{ room.name }}
                    </mat-list-option>
                </mat-selection-list>
            </dx-scroll-view>
        </div>

    </dx-drop-down-box>
</div>
