::ng-deep .dx-popup-content {
    max-height: 450px;
    overflow-y: auto;
}

:host::ng-deep #room-selector-box {
    display: inline-block;
    margin-left: 20px;

    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    background: rgba(0, 0, 0, 0.05);

    .dx-placeholder {
        color: rgba(0, 0, 0);
        font-size: 15px;
    }
}

:host::ng-deep .dx-texteditor.dx-editor-underlined:after {
    border: 0px !important;
}

:host:ng-deep .dx-editor-underline {
    border: 0px !important;
}

::ng-deep .list-scroll {
    max-height: 450px;
}

.deselect-button {
    float: right;
}
