<dx-data-grid
    [dataSource]="emailTemplates"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true">

    <dxo-search-panel
        [visible]="true"
        [width]="250"
        placeholder="Search"></dxo-search-panel>

    <dxo-paging
        [enabled]="true"
        [pageSize]="30"></dxo-paging>

    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 15, 30, 50, 75, 100]">
    </dxo-pager>

    <dxi-column
        [dataField]="'name'"
        [caption]="'Name'"
        [dataType]="'string'"
        [alignment]="'left'"
        [cssClass]="'font-weight-bold'"
        [cellTemplate]="'NameTemplate'"></dxi-column>

    <dxi-column
        [dataField]="'subject'"
        [caption]="'Subject'"
        [dataType]="'string'"
        [alignment]="'left'"
        [cellTemplate]="'SubjectTemplate'"></dxi-column>

    <dxi-column
        [dataField]="'eventType'"
        [caption]="'Type'"
        [dataType]="'number'"
        [alignment]="'left'"
        [cellTemplate]="'TypeTemplate'"></dxi-column>

    <dxi-column
        [dataField]="'receiverType'"
        [caption]="'Receiver type'"
        [dataType]="'number'"
        [alignment]="'left'"
        [cellTemplate]="'ReceiverTypeTemplate'"></dxi-column>

    <dxi-column
        [caption]="'Edit'"
        [cellTemplate]="'EditTemplate'"
        [alignment]="'center'"></dxi-column>

    <dxi-column
        [caption]="'Delete'"
        [cellTemplate]="'DeleteTemplate'"
        [alignment]="'center'"></dxi-column>

    <div *dxTemplate="let emailTemplate of 'NameTemplate'">
        <span *ngIf="emailTemplate.data.name; else emptyData">{{ emailTemplate.data.name }}</span>
    </div>

    <div *dxTemplate="let emailTemplate of 'SubjectTemplate'">
        <span *ngIf="emailTemplate.data.subject; else emptyData">{{ emailTemplate.data.subject }}</span>
    </div>

    <div *dxTemplate="let emailTemplate of 'TypeTemplate'">
        <span>{{ eventTypes[emailTemplate.data.eventType].name }}</span>
    </div>

    <div *dxTemplate="let emailTemplate of 'ReceiverTypeTemplate'">
        <span>{{ receiverTypes[emailTemplate.data.receiverType].name }}</span>
    </div>

    <div *dxTemplate="let emailTemplate of 'EditTemplate'">
        <button
            mat-icon-button
            [matTooltip]="'Edit'"
            [matTooltipPosition]="'above'"
            (click)="OnEditButtonClick.next(emailTemplate.data)">
            <i class="fas fa-pen"></i>
        </button>
    </div>

    <div *dxTemplate="let emailTemplate of 'DeleteTemplate'">
        <button
            mat-icon-button
            [color]="'warn'"
            [matTooltip]="'Delete'"
            [matTooltipPosition]="'above'"
            (click)="OnDeleteButtonClick.next(emailTemplate.data)">
            <i class="far fa-trash-alt"></i>
        </button>
    </div>
</dx-data-grid>

<ng-template #emptyData>
    -
</ng-template>