<mat-list *ngIf="svcArray.length; else emptySvcArray">
    <mat-list-item *ngFor="let svc of svcArray">
        <mat-checkbox
            *ngIf="isSelectable"
            #SvcCheckbox
            mat-list-icon
            [color]="'primary'"
            [id]="svc.id"
            [value]="svc"
            (change)="onSvcSelectionChange(svc)"></mat-checkbox>

        <h4 mat-line>{{ svc.name }}</h4>
        <p
            mat-line
            class="text-secondary">{{ svc.description }}</p>
    </mat-list-item>
</mat-list>

<ng-template #emptySvcArray>
    No Services
</ng-template>