<content-loader [showIf]="roomGroups">
    <ng-template>
        <app-room-group-assigner
            *ngFor="let roomGroup of roomGroups; trackBy: trackByFunction"
            [roomGroup]="roomGroup"
            (OnSomeChanges)="updateRoomGroups()"></app-room-group-assigner>
    </ng-template>
</content-loader>