<mat-dialog-header
    [title]="'Edit email template'"
    (OnClose)="close(false)">
</mat-dialog-header>

<mat-dialog-content>
    <email-template-form
        [inputData]="emailTemplate"
        (OnFormInit)="onEmailTemplateFormInit($event)"></email-template-form>
</mat-dialog-content>

<mat-dialog-actions
    align="end">
    <button
        *ButtonLoader="saveEmailTemplateSubscription"
        mat-raised-button
        color="primary"
        (click)="saveTemplate()">
        Save
    </button>
</mat-dialog-actions>
