<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-12">
            <mat-checkbox
                [color]="'primary'"
                [formControl]="formGroup.controls.isPrivate">Is private</mat-checkbox>
        </div>
    </div>
</form>