<div class="header">
    <h3
        mat-dialog-title
        [ngClass]="titleClass">
        <i class="title-icon" [ngClass]="iconClass"></i>
        {{ title }}
    </h3>

    <button
        *ngIf="closeButtonEnabled"
        mat-icon-button
        class="mat-dialog-close"
        [ngClass]="closeButtonClass"
        [matTooltip]="closeButtonText"
        [matTooltipPosition]="'above'"
        (click)="onCloseButtonClick()">
        <i [ngClass]="closeButtonIconClass"></i>
    </button>
</div>