<mat-dialog-header
    [iconClass]="'fas fa-pen'"
    [title]="'Edit room group'"
    (OnClose)="close()"></mat-dialog-header>

<mat-dialog-content>
    <content-loader [showIf]="roomGroup">
        <ng-template>
            <room-group-editing-form
                [inputData]="roomGroup"
                (OnFormInit)="onRoomGroupFormGroupInit($event)"></room-group-editing-form>
        </ng-template>
    </content-loader>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        *ButtonLoader="savingSubscription"
        mat-raised-button
        [color]="'primary'"
        (click)="editRoomGroup()">
        Save
    </button>
</mat-dialog-actions>