<div class="wrapper">
    <content-loader
        [showIf]="events && rooms && spaces">
        <ng-template>
            <app-space-toolbar
                [spaces]="spaces"
                [selectedSpace]="selectedSpace"
                class="space-selector"
                (OnCreationButtonClick)="openCreateSpaceWindow()"
                (OnSelectionChange)="onSpaceChanged($event)"
                (OnSettingButtonClick)="openSpaceSettingsWindow()">
            </app-space-toolbar>
            <div class="calendar-wrapper">
                <app-calendar
                    #calendar
                    [events]="events"
                    [rooms]="rooms"
                    [selectedRooms]="selectedRooms"
                    [currentDate]="currentDate"
                    [isReadOnly]="isReadOnly"
                    (OnActionEventChanged)="onActionEventUpdated($event)"
                    (OnSelectedRoomsChanged)="onSelectedRoomsChanged()"
                    (OnDateRangeChanged)="onDateRangeChanged($event)">
                </app-calendar>
            </div> 
        </ng-template>
    </content-loader>
</div>
