.wrapper {
    height: 100%;
    width: 100%;
}

.calendar-wrapper {
    width: 100%; 
    height: 100%
}

.space-selector {
    position: absolute;
    top: 27px;
    right: 19px;
    z-index: 100;
}
