<div class="wrapper">
    <app-event-cache-status
        *AvailableFor="[roleEnum.SuperUser]"
        (OnCacheUpdated)="onCacheUpdated()"></app-event-cache-status>

    <app-events-table #EventsTable></app-events-table>
</div>
