<div class="wrapper">    
    
    <app-request-events-list-table
        #RequestEventsTable></app-request-events-list-table>

    <fab-button
        (click)="onAddButtonClick()"></fab-button>

</div>