<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-12">
            <mat-form-field>
                <input 
                    matInput
                    required
                    placeholder="Event name" 
                    [formControl]="formGroup.controls.name">

                <mat-error *ngIf="formGroup.controls.name.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field>
                <textarea
                    matInput
                    placeholder="Note"
                    [formControl]="formGroup.controls.note"></textarea>

                <mat-error *ngIf="formGroup.controls.note.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</form>