.form-field-wrapper {
    display: flex;
}

.name-field {
    width: 200px !important;
}

.subject-field {
    width: 300px !important;
    margin-left: 50px;
}

.event-type-field {
    width: 200px !important;
    margin-left: 50px;
}

.receiver-type-field {
    width: 200px !important;
    margin-left: 50px;
}
