<div
    *ngIf="formGroup"
    class="wrapper">
    <form
        [formGroup]="formGroup">
        <div class="form-field-wrapper">
            <mat-form-field
                class="name-field">
                <input
                    matInput 
                    required
                    placeholder="Name"
                    [formControl]="formGroup.controls.name">

                <mat-error *ngIf="formGroup.controls.name.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
            <mat-form-field
                class="subject-field">
                <input
                    matInput
                    required
                    placeholder="Subject"
                    [formControl]="formGroup.controls.subject">

                <mat-error *ngIf="formGroup.controls.subject.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
            <mat-form-field
                class="event-type-field">
                <mat-label>Event type</mat-label>
                <mat-select
                    [formControl]="formGroup.controls.eventType">
                    <mat-option *ngFor="let eventType of eventTypes" [value]="eventType.id">
                        {{ eventType.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field
                class="receiver-type-field">
                <mat-label>Receiver type</mat-label>
                <mat-select
                    [formControl]="formGroup.controls.receiverType">
                    <mat-option *ngFor="let receiverType of receiverTypes" [value]="receiverType.id">
                        {{ receiverType.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="markdown-editor-form">
            <email-template-markdown-editor
                [formControl]="formGroup.controls.text">
            </email-template-markdown-editor>
        </div>
    </form>
</div>