<mat-dialog-header
    [title]="'Setting space'"
    (OnClose)="close(false)"></mat-dialog-header>

<mat-dialog-content>
    <content-loader
        [showIf]="spaces">
        <ng-template>
            <div class="wrapper">
                <div class="toolbar">
                    <button
                        mat-button
                        color="primary"
                        (click)="openCreateSpaceWindow()">
                        Create space
                    </button>
                </div>
            
                <space-editable-list
                    #spaceEditableList
                    [spaces]="spaces"
                    (OnEdit)="openEditSpaceWindow($event)"
                    (OnDelete)="deleteSpace($event)">
                </space-editable-list>
            </div>
        </ng-template>
    </content-loader>
</mat-dialog-content>
