<mat-dialog-header
    [iconClass]="'fas fa-lock'"
    [title]="'Change password'"
    (OnClose)="close()"></mat-dialog-header>

<mat-dialog-content>
    <user-change-password-form
        (OnFormInit)="onChangePasswordFormInit($event)"></user-change-password-form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        *ButtonLoader="savingSubscription"
        mat-raised-button
        [color]="'primary'"
        (click)="changePassword()">
        Save
    </button>
</mat-dialog-actions>