<h1 mat-dialog-title>Invoice creation</h1>

<mat-dialog-content>
    <content-loader
        [showIf]="requestEvents">
        <ng-template>
            <invoice-creation-form
                [requestEvents]="requestEvents"
                (OnFormInit)="onInvoiceCreationFormInit($event)"></invoice-creation-form>
        </ng-template>
    </content-loader>
</mat-dialog-content>

<mat-dialog-actions
    align="end">
    <button
        *ButtonLoader="createInvoiceSubscription"
        mat-raised-button
        color="primary"
        (click)="onCreateButtonClick()">
        Create
    </button>
</mat-dialog-actions>

