<div class="wrapper">
    <mat-drawer-container class="side-menu-container">
        <mat-drawer 
            mode="side"
            class="side-menu" 
            opened>
            <!-- <main-side-menu></main-side-menu> -->

            <div *ngIf="(userData$ | async) as userData">
                <app-side-menu
                    [menuItems]="MainMenuItemsArray"
                    [userInfo]="userData$ | async"></app-side-menu>
            </div>
            
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
