.wrapper {
    height: 100%;
}

:host::ng-deep .mat-drawer-container {
    height: 100% !important;
}
:host::ng-deep .side-menu {
    width: 65px;
}

:host::ng-deep mat-drawer-content {
    padding: 10px;
}