@import "_colors";

.icon-wrapper {
    width: 30px;
    height: 30px;

    .icon {
        color: $dark-gray;
        font-size: 20px;
    }
}

.info-block {
    display: flex;

    .color-label {
        width: 100%;
        height: 100%;

        border-radius: 100%;
    }

    .name-block {
        text-align: left;
        margin-left: 20px;

        .name {
            color: $dark-gray;
            font-weight: 500;
            font-size: 18px;
        }

        .date-block {
            font-size: 14px;

            .separate-date {
                font-weight: 600;
                margin: 0 10px 0 10px;
            }
        }
    }
}

.room-block {
    display: flex;
    margin-top: 5px;

    .room-name {
        margin-left: 20px;
    }
}

.description-block {
    display: flex;
    margin-top: 5px;

    .description-text {
        margin-left: 20px;
    }
}
