<div class="wrapper">
    <div class="info-block">
        <div class="icon-wrapper">
            <!-- <div
                [ngStyle]="{
                    'background-color': event.color.hex
                }"
                class="color-label">
            </div> -->
        </div>
        <div 
            class="name-block">
            <span class="name">{{ event.name }}</span>
            <div class="date-block">
                <span class="date-start">{{ event.start | date:"short" }}</span>
                <span class="separate-date">-</span>
                <span class="date-range">{{ event.end | date:"short" }}</span>
            </div>
        </div>
    </div>

    <div class="room-block">
        <div class="icon-wrapper">
            <i class="fas fa-door-open icon"></i>
        </div>

        <div class="room-name">{{ event.location }}</div>
    </div>

    <div
        *ngIf="event.description" 
        class="description-block">
        <div class="icon-wrapper">
            <i class="fas fa-align-left icon"></i>
        </div>

        <span class="description-text">
            {{ event.description }}
        </span>
    </div>
</div>
