@import "_toast.styles";
@import "./Styles/advanced-material-styles.scss";
@import "./Styles/advanced-devextreme-styles.scss";
@import "./Styles/button-loader.scss";
@import "_colors-styles";

.wrapper {
    height: 100%;
    width: 100%;
}