<mat-dialog-header
    [iconClass]="'fas fa-plus'"
    [title]="'Create service'"
    (OnClose)="close()"></mat-dialog-header>

<mat-dialog-content>
    <svc-creation-form
        (OnFormInit)="onSvcFormGroupInit($event)"></svc-creation-form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        *ButtonLoader="creationSubscription"
        mat-raised-button
        [color]="'primary'"
        (click)="createSvc()">
        Create
    </button>
</mat-dialog-actions>