<h1>{{ room.name }}</h1>

<div
    *ngIf="(equipmentTypeGroup.type | getEquipmentDataByType) as equipmentType"
    class="text-primary total-count-text">
    Total <i [ngClass]="equipmentType.iconClass"></i> ({{ equipmentType.name | lowercase }}'s) count: <strong>{{ equipmentTypeGroup.count }}</strong>
</div>

<equipment-group-list
    [equipmentGroups]="equipmentTypeGroup.equipmentGroups"
    [isSelectable]="false"></equipment-group-list>