.color-block {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    margin: 5px;
    border-radius: 6px;

    &:hover {
        cursor: pointer;
        opacity: .9;
    }

    .selected-icon {
        margin: 25%;
        position: absolute;
        color: #fff;
    }
}