
<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-12">
            <mat-form-field>
                <input 
                    matInput
                    required
                    placeholder="New password" 
                    [type]="isShowPassword ? 'text' : 'password'"
                    [formControl]="formGroup.controls.password">

                <i
                    matSuffix
                    class="text-secondary"
                    [ngClass]="isShowPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
                    [matTooltip]="isShowPassword ? 'Hide password' : 'Show password'"
                    (click)="changeVisibilityPassword()">
                </i>

                <mat-error *ngIf="formGroup.controls.password.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field>
                <input 
                    matInput
                    required
                    placeholder="Confirm password"
                    [type]="isShowConfirmPassword ? 'text' : 'password'"
                    [formControl]="formGroup.controls.confirmPassword">

                <i
                    matSuffix
                    class="text-secondary"
                    [ngClass]="isShowConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
                    [matTooltip]="isShowConfirmPassword ? 'Hide password' : 'Show password'"
                    (click)="changeVisibilityConfirmPassword()">
                </i>

                <mat-error *ngIf="formGroup.controls.confirmPassword.hasError('required')">
                    This field is required
                </mat-error>

                <mat-error *ngIf="formGroup.controls.confirmPassword.hasError('passwordsAreDifferent')">
                    Passwords are different
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</form>