<app-tree-list
    class="not-open-class"
    [listItems]="menuItemsList"
    [showTooltip]="showTooltip"
    [isOpened]="isOpened">
</app-tree-list>
 
<ng-template #hr>
    <div 
        class="hr-wrapper"
        (click)="ClickAtTitle()">
        <div class="hr"></div>
    </div>
</ng-template>

<ng-template #separateLine>
    <div 
        class="line"
        (click)="ClickAtTitle()"></div>
</ng-template>
