
:host {
    transition: all 0.3s;
}

.item-tree {
    background: none;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.item-node {
    color: #f4f4f4 !important;
    display: flex;
    min-height: 40px !important;
    padding-left: 0px !important;

    cursor: pointer;
    user-select: none;

    transition: all 0.3s;
}

.title {
    height: 36px;
    padding-left: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #c1c1c1;
    font-size: 14px;
    line-height: 48px;
    font-family: 'Open Sans', sans-serif;

    position: static;

    transition: opacity 0.3s;
    user-select: none;
}

.title-hidden {
    opacity: 0;
}

.item-name {
    position: absolute;

    color: #ffffff;

    font-weight: 500;
    font-family: "Muli", "Roboto", "Helvetica", Arial, "sans-serif";
    font-size: 15px;

    transition: opacity 0.1s;
}
.item-name-visible {
    opacity: 1;
}
.item-name-hidden {
    opacity: 0;
}

.item-icon {
    text-align: center;
}
.icon-wrapper {
    display: inline-block;
    position: absolute;
    text-align: center;
    color: #ffffff;
}

.hr-wrapper {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr {
    height: 0px;
    width: 17px;

    border-bottom: 2px solid #4d4d4d;
}

.wrapper {
    width: 100%;
    min-height: 40px !important;
    display: flex;
    align-items: center;
    margin-right: 15px;
    border-radius: 0px 30px 30px 0px;

    transition: width 0.3s;

    &:hover {
        background: #454545;
    }
}

.wrapper-selected {
    background: #7385a3;
    &:hover {
        background: #7385a3;
    }
}

.line {
    width: 100%;
    height: 1px;

    border-bottom: 1px solid #4d4d4d;
}

.arrow-button {
    margin-left: auto;
}
.arrow-button-visible {
    opacity: 1;
    transition: opacity 0.3s;
}
.arrow-button-hidden {
    opacity: 0;
    transition: opacity 0.1s;
}