.wrapper {
    display: flex;
    align-items: baseline;

    .setting-button {
        .setting-icon {
            font-size: 17px;
        }
    }

    .creation-button {
        margin-left: 10px;
    }

    .item-selector {
        margin-left: 10px;
    }
}