<div class="wrapper">
    <button
        mat-button
        color="primary"
        class="creation-button"
        (click)="onClickCreationButton()">
        Create space

    </button>
    <space-item-selector
        [spaces]="spaces"
        [selectedSpace]="selectedSpace"
        class="item-selector"
        (OnSelectionChanged)="onSelectionChange($event)">
    </space-item-selector>

    <button
        mat-icon-button
        color="primary"
        class="setting-button"
        (click)="onClickSettingButton()">
        <i class="fas fa-cog setting-icon"></i>
    </button>
</div>
