<div
    class="wrapper">
    <button
        mat-fab
        class="md-fab-bottom-right"
        [color]="color"
        [matTooltip]="tooltipText"
        [matTooltipPosition]="tooltipPosition">
        <i [ngClass]="iconClass"></i>
    </button>
</div>