<mat-list>
    <mat-list-item *ngFor="let equipment of equipmentArray">
        <mat-checkbox
            *ngIf="isSelectable"
            [color]="'primary'"
            (change)="onEquipmentSelectionChange(equipment)"></mat-checkbox>

        <h4 mat-line>{{ equipment.name }}</h4>

        <p
            *ngIf="equipment.description"
            mat-line
            class="text-secondary">
            {{ equipment.description }}
        </p>
    </mat-list-item>
</mat-list>