<dx-data-grid
    [dataSource]="users"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true">

    <dxo-search-panel
        [visible]="true"
        [width]="250"
        placeholder="Search"></dxo-search-panel>

    <dxo-paging
        [enabled]="true"
        [pageSize]="30"></dxo-paging>

    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 15, 30, 50, 75, 100]">
    </dxo-pager>

    <dxi-column
        [dataField]="'name'"
        [caption]="'Name'"
        [dataType]="'string'"
        [alignment]="'left'"
        [cssClass]="'font-weight-bold'"
        [cellTemplate]="'NameTemplate'"></dxi-column>
    
    <dxi-column
        [dataField]="'login'"
        [caption]="'Login'"
        [dataType]="'string'"
        [alignment]="'left'"
        [cellTemplate]="'LoginTemplate'"></dxi-column>

    <dxi-column
        [dataField]="'email'"
        [caption]="'Email'"
        [dataType]="'string'"
        [alignment]="'left'"
        [cellTemplate]="'EmailTemplate'"></dxi-column>

    <dxi-column
        [dataField]="'phoneNumber'"
        [caption]="'Phone'"
        [dataType]="'string'"
        [alignment]="'left'"
        [cellTemplate]="'PhoneTemplate'"></dxi-column>

    <dxi-column
        [caption]="'Change password'"
        [cellTemplate]="'ChangePasswordTemplate'"
        [alignment]="'center'"></dxi-column>

    <dxi-column
        [caption]="'Edit'"
        [cellTemplate]="'EditTemplate'"
        [alignment]="'center'"></dxi-column>

    <dxi-column
        [caption]="'Delete'"
        [cellTemplate]="'DeleteTemplate'"
        [alignment]="'center'"></dxi-column>

    <div *dxTemplate="let user of 'NameTemplate'">
        <span *ngIf="user.data.name; else emptyData">{{ user.data.name }}</span>
    </div>

    <div *dxTemplate="let user of 'LoginTemplate'">
        <span *ngIf="user.data.login; else emptyData">{{ user.data.login }}</span>
    </div>

    <div *dxTemplate="let user of 'EmailTemplate'">
        <span *ngIf="user.data.email; else emptyData">{{ user.data.email }}</span>
    </div>

    <div *dxTemplate="let user of 'PhoneTemplate'">
        <span *ngIf="user.data.phoneNumber; else emptyData">{{ user.data.phoneNumber }}</span>
    </div>

    <div *dxTemplate="let user of 'ChangePasswordTemplate'">
        <button
            mat-icon-button
            class="text-secondary"
            [matTooltip]="'Change password'"
            [matTooltipPosition]="'above'"
            (click)="OnChangePasswordButtonClick.next(user.data)">
            <i class="fas fa-lock"></i>
        </button>
    </div>

    <div *dxTemplate="let user of 'EditTemplate'">
        <button
            mat-icon-button
            [matTooltip]="'Edit'"
            [matTooltipPosition]="'above'"
            (click)="OnEditButtonClick.next(user.data)">
            <i class="fas fa-pen"></i>
        </button>
    </div>

    <div *dxTemplate="let user of 'DeleteTemplate'">
        <button
            mat-icon-button
            [color]="'warn'"
            [matTooltip]="'Delete'"
            [matTooltipPosition]="'above'"
            (click)="OnDeleteButtonClick.next(user.data)">
            <i class="far fa-trash-alt"></i>
        </button>
    </div>
</dx-data-grid>

<ng-template #emptyData>
    -
</ng-template>