<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-12">
            <mat-form-field>
                <mat-label>Status</mat-label>

                <mat-select [formControl]="formGroup.controls.status">
                    <mat-option
                        *ngFor="let requestEventType of typeArray"
                        [value]="requestEventType.id">
                        <i [ngClass]="requestEventType.iconClass"></i>
                        {{ requestEventType.name }}
                    </mat-option>
                </mat-select>

            </mat-form-field>
        </div>
    </div>
</form>