<div class="wrapper">
    <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select
            [(ngModel)]="status"
            (closed)="writeValue(status)">
            <mat-option *ngFor="let incoiceStatus of invoiceStatusesArray" [value]="incoiceStatus.id">
                <i [class]="incoiceStatus.iconClass"></i>
                <span class="incoice-status-name">{{ incoiceStatus.name }}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>