<div class="wrapper">
    <page-title></page-title>

<mat-tab-group
    [(selectedIndex)]="openedTab"
    (selectedTabChange)="onSelectedTabChange()">
    <mat-tab label="Users list">
        <ng-template matTabContent>
            <app-user-list-tab></app-user-list-tab>
        </ng-template>
    </mat-tab>
    <mat-tab label="User roles">
        <ng-template matTabContent>
            <app-role-assigners-list></app-role-assigners-list>
        </ng-template>
    </mat-tab>
</mat-tab-group>
