<mat-dialog-header
    [title]="'Create email template'"
    (OnClose)="close(false)">
</mat-dialog-header>

<mat-dialog-content>
    <email-template-form
        (OnFormInit)="onEmailTemplateFormInit($event)"></email-template-form>
</mat-dialog-content>

<mat-dialog-actions
    align="end">
    <button
        *ButtonLoader="creationEmailTemplateSubscription"
        mat-raised-button
        color="primary"
        (click)="createTemplate()">
        Create
    </button>
</mat-dialog-actions>
