<content-loader [showIf]="dataSource">
    <ng-template>
        <events-list-table
            [dataSource]="dataSource"
            [itemIdToSelect]="itemIdFromUrl"
            [forbiddenColumns]="forbiddenColumns"
            (OnDeleteButtonClick)="onEventDelete($event)">
        </events-list-table>
    </ng-template>
</content-loader>