<div class="wrapper">
    <content-loader [showIf]="users">
        <ng-template>
            <users-table
                [users]="users"
                (OnChangePasswordButtonClick)="onUserChangePassword($event)"
                (OnEditButtonClick)="onUserEdit($event)"
                (OnDeleteButtonClick)="onUserDelete($event)"></users-table>
        </ng-template>
    </content-loader>

    <fab-button
        (click)="onAddButtonClick()"></fab-button>
</div>