<dx-data-grid
    [dataSource]="svcArray"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true">

    <dxo-search-panel
        [visible]="true"
        [width]="250"
        placeholder="Search"></dxo-search-panel>

    <dxo-paging
        [enabled]="true"
        [pageSize]="30"></dxo-paging>

    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 15, 30, 50, 75, 100]">
    </dxo-pager>

    <dxi-column
        [dataField]="'name'"
        [caption]="'Name'"
        [dataType]="'string'"
        [alignment]="'left'"
        [cssClass]="'font-weight-bold'"
        [cellTemplate]="'NameTemplate'"></dxi-column>

    <dxi-column
        [width]="125"
        [dataField]="'isShowForClient'"
        [caption]="'Show for Client'"
        [dataType]="'boolean'"
        [alignment]="'center'"
        [cellTemplate]="'IsShowForClientTemplate'"></dxi-column>

    <dxi-column
        [minWidth]="170"
        [dataField]="'description'"
        [caption]="'Description'"
        [dataType]="'string'"
        [alignment]="'left'"
        [cellTemplate]="'DescriptionTemplate'"></dxi-column>

    <dxi-column
        [width]="150"
        [dataField]="'price'"
        [caption]="'Price'"
        [dataType]="'number'"
        [alignment]="'left'"
        [cellTemplate]="'PriceTemplate'"></dxi-column>

    <dxi-column
        [width]="100"
        [caption]="'Edit'"
        [cellTemplate]="'EditTemplate'"
        [alignment]="'center'"></dxi-column>

    <dxi-column
        [width]="100"
        [caption]="'Delete'"
        [cellTemplate]="'DeleteTemplate'"
        [alignment]="'center'"></dxi-column>

    <div *dxTemplate="let svc of 'NameTemplate'">
        <span *ngIf="svc.data.name; else emptyData">{{ svc.data.name }}</span>
    </div>

    <div *dxTemplate="let svc of 'IsShowForClientTemplate'">
        <i
            *ngIf="svc.data.isShowForClient"
            class="fas fa-check text-success"></i>

        <i
            *ngIf="!svc.data.isShowForClient"
            class="fas fa-minus"></i>
    </div>

    <div *dxTemplate="let svc of 'DescriptionTemplate'">
        <span *ngIf="svc.data.description; else emptyData">{{ svc.data.description }}</span>
    </div>

    <div *dxTemplate="let svc of 'PriceTemplate'">
        <span *ngIf="svc.data.price; else emptyData">${{ svc.data.price }}</span>
    </div>

    <div *dxTemplate="let svc of 'EditTemplate'">
        <button
            mat-icon-button
            [matTooltip]="'Edit'"
            [matTooltipPosition]="'above'"
            (click)="OnEditButtonClick.next(svc.data)">
            <i class="fas fa-pen"></i>
        </button>
    </div>

    <div *dxTemplate="let svc of 'DeleteTemplate'">
        <button
            mat-icon-button
            [color]="'warn'"
            [matTooltip]="'Delete'"
            [matTooltipPosition]="'above'"
            (click)="OnDeleteButtonClick.next(svc.data)">
            <i class="far fa-trash-alt"></i>
        </button>
    </div>
</dx-data-grid>

<ng-template #emptyData>
    -
</ng-template>