<dx-data-grid
    [dataSource]="invoices"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    [rowAlternationEnabled]="true">

    <dxo-search-panel
        [visible]="true"
        [width]="250"
        placeholder="Search"></dxo-search-panel>

    <dxi-column
        [dataField]="'number'"
        [caption]="'Number'"
        [width]="200"
        [dataType]="'string'"
        [alignment]="'center'"
        [cssClass]="'font-weight-bold'"
        [cellTemplate]="'NumberTemplate'"></dxi-column>

    <dxi-column
        [caption]="'Date'"
        [width]="250"
        [alignment]="'center'"
        [cellTemplate]="'DateTemplate'"></dxi-column>

    <dxi-column
        [minWidth]="100"
        [caption]="'Description'"
        [cellTemplate]="'DescriptionTemplate'"></dxi-column>

    <dxi-column
        [caption]="'Status'"
        [width]="100"
        [alignment]="'center'"
        [cellTemplate]="'StatusTemplate'"></dxi-column>

    <dxi-column
        [caption]="'PDF'"
        [width]="80"
        [alignment]="'center'"
        [cellTemplate]="'PDFTemplate'"></dxi-column>
    
    <dxi-column
        [width]="60"
        [cellTemplate]="'EditTemplate'"
        [alignment]="'center'"></dxi-column>

    <dxi-column
        [width]="60"
        [cellTemplate]="'DeleteTemplate'"
        [alignment]="'center'"></dxi-column>

    <div *dxTemplate="let invoice of 'IdTemplate'">
        <span *ngIf="invoice.data.id; else emptyData">{{ invoice.data.id }}</span>
    </div>

    <div *dxTemplate="let invoice of 'NumberTemplate'">
        <span *ngIf="invoice.data.number; else emptyData">{{ invoice.data.number }}</span>
    </div>

    <div *dxTemplate="let invoice of 'DateTemplate'">
        <span *ngIf="invoice.data.invoiceDate; else emptyData">{{ invoice.data.invoiceDate | date:"shortDate" }}</span>
    </div>

    <div *dxTemplate="let invoice of 'DescriptionTemplate'">
        <span *ngIf="invoice.data.description; else emptyData">{{ invoice.data.description }}</span>
    </div>

    <div *dxTemplate="let invoice of 'PDFTemplate'">
        <button
            mat-icon-button
            (click)="OnPDFClick.emit(invoice.data)">
            <i class="fas fa-file-download"></i>
        </button>
    </div>

    <div *dxTemplate="let invoice of 'StatusTemplate'">
        <div
            *ngIf="(invoice.data.status | getInvoiceStatusDataByStatus) as invoiceStatus"
            class="status-wrapper">
            <button
                class="status-button"
                mat-icon-button
                [matTooltip]="invoiceStatus.name"
                [matTooltipPosition]="'above'"
                (click)="OnStatusClick.emit(invoice.data)">
                <i [class]="invoiceStatus.iconClass"></i>
            </button>
        </div>
    </div>

    <div *dxTemplate="let invoice of 'EditTemplate'">
        <button
            mat-icon-button
            [matTooltip]="'Edit'"
            [matTooltipPosition]="'above'"
            (click)="OnEditClick.emit(invoice.data)">
            <i class="fas fa-pen"></i>
        </button>
    </div>

    <div *dxTemplate="let invoice of 'DeleteTemplate'">
        <button
            mat-icon-button
            [color]="'warn'"
            [matTooltip]="'Delete'"
            [matTooltipPosition]="'above'"
            (click)="OnDeleteClick.emit(invoice.data)">
            <i class="far fa-trash-alt"></i>
        </button>
    </div>
</dx-data-grid>

<ng-template #emptyData>
    -
</ng-template>