<div class="wrapper">
    <div class="tagbox_wrapper">
        <assigner-field
            [title]="role.name"
            [placeholder]="role.name"
            [autocompleteUpdateFunction]="autocompleteUpdateFunction"
            [(assignedItems)]="assignedUsers"
            [displayExpr]="'name'"
            (OnClearAssign)="OnClearAssign.next(roleId)"
            (OnAssign)="OnUserAssign.next($event)"
            (OnDeassign)="OnUserDeassign.next($event)"
            (OnFocusIn)="OnFocusIn.next($event)"
            (OnKeyUp)="OnKeyUp.next($event)"></assigner-field>
    </div>

    <button
        mat-icon-button
        [ngClass]="(role.isSvcAssignAvailable) ? 'text-primary' : 'text-secondary'"
        [matTooltip]="(role.isSvcAssignAvailable) ? 'Change services' : ''"
        [matTooltipPosition]="'above'"
        [attr.disabled]="role.isSvcAssignAvailable"
        (click)="(role.isSvcAssignAvailable) ? OnChangeServicesButtonClick.emit(role) : null">
        <i class="fas fa-concierge-bell"></i>
    </button>
</div>