<div class="wrapper">
    <div class="text-primary">Last data update: {{ cacheData.lastUpdateDate | date:"medium" }}</div>

    <button
        mat-stroked-button
        [color]="updateButtonColor"
        (click)="onUpdateButtonClick()">

        <span [ngSwitch]="cacheData.status">
            <span *ngSwitchCase="cacheStatusEnum.Error">
                <i class="fas fa-exclamation-circle"></i>
                Last update was end with error.&nbsp;
                <b>Click to retry</b>
            </span>
            <span *ngSwitchCase="cacheStatusEnum.Updating">
                Updating data...
                <span class="text-primary">
                    &nbsp;{{ cacheData.progress }}%&nbsp;
                </span>
                <div class="button-loader button-loader-primary"><div></div><div></div><div></div><div></div></div>
            </span>
            <span *ngSwitchDefault>
                Update
            </span>
        </span>

    </button>

</div>