<content-loader [showIf]="emailTemplates">
    <ng-template>
        <email-templates-list-table
            #EmailTemplatesTable
            *ngIf="emailTemplates"
            [emailTemplates]="emailTemplates"
            (OnEditButtonClick)="onEditEmailTemplate($event)"
            (OnDeleteButtonClick)="onDeleteEmailTemplate($event)">
        </email-templates-list-table>

        <fab-button
            (click)="onCreateEmailTemplate()">
        </fab-button>
    </ng-template>
</content-loader>