<div class="wrapper">
    <mat-form-field>
        <mat-label>Spaces</mat-label>
        <mat-select
            [value]="selectedSpaceId"
            (selectionChange)="selectionChange($event)">
            <mat-option [value]="null">-- None --</mat-option>
            <mat-optgroup label="Spaces">
                <mat-option *ngFor="let space of spaces" [value]="space.id">
                    {{ space.name }}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
</div>
