<mat-dialog-header
    [iconClass]="'fas fa-plus'"
    [title]="'Create room group'"
    (OnClose)="close()"></mat-dialog-header>

<mat-dialog-content>
    <room-group-creation-form
        (OnFormInit)="onRoomGroupFormGroupInit($event)"></room-group-creation-form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        *ButtonLoader="creationSubscription"
        mat-raised-button
        [color]="'primary'"
        (click)="createRoomGroup()">
        Create
    </button>
</mat-dialog-actions>