:host::ng-deep .dx-toolbar-text-auto-hide .dx-button .dx-icon {
    font-size: 14px !important;
    width: 18px !important;
    height: 18px !important;
}

:host::ng-deep .dx-toolbar .dx-toolbar-items-container {
    height: 55px;
}
