<div class="wrapper">
    <dx-html-editor
        [height]="'400px'"
        [value]="value"
        (onValueChanged)="htmlEditorOnChange($event)">
        <dxo-toolbar
            [items]="[ 'variable' ]">
            <dxi-item formatName="undo"></dxi-item>
            <dxi-item formatName="redo"></dxi-item>
            <dxi-item formatName="separator"></dxi-item>
            <dxi-item formatName="variable"></dxi-item>
            <dxi-item formatName="size" [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
            <dxi-item formatName="font" [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']"></dxi-item>
            <dxi-item formatName="separator"></dxi-item>
            <dxi-item formatName="bold"></dxi-item>
            <dxi-item formatName="italic"></dxi-item>
            <dxi-item formatName="strike"></dxi-item>
            <dxi-item formatName="underline"></dxi-item>
            <dxi-item formatName="separator"></dxi-item>
            <dxi-item formatName="alignLeft"></dxi-item>
            <dxi-item formatName="alignCenter"></dxi-item>
            <dxi-item formatName="alignRight"></dxi-item>
            <dxi-item formatName="alignJustify"></dxi-item>
            <dxi-item formatName="separator"></dxi-item>
            <dxi-item formatName="color"></dxi-item>
            <dxi-item formatName="background"></dxi-item>

            <dxi-item formatName="separator"></dxi-item>
            <dxi-item formatName="orderedList"></dxi-item>
            <dxi-item formatName="bulletList"></dxi-item>
            <dxi-item formatName="separator"></dxi-item>
            <dxi-item formatName="link"></dxi-item>
            <dxi-item formatName="image"></dxi-item>
            <dxi-item formatName="separator"></dxi-item>
            <dxi-item formatName="clear"></dxi-item>
        </dxo-toolbar>

        <dxo-media-resizing
            [enabled]=true>
        </dxo-media-resizing>

        <dxo-variables
            [dataSource]="VariablesArray"
            [escapeChar]="[ '#' ]">
        </dxo-variables>
    </dx-html-editor>

</div>
