<div class="wrapper">
    <content-loader [showIf]="roomArray">
        <ng-template>
            <room-entity-cards-list
                [roomArray]="roomArray"
                [isClickable]="isRoomCardClickable"
                [equipmentChipTooltip]="'View'"
                (OnChangeColorButtonClick)="onRoomChangeColor($event)"
                (OnEquipmentChipClick)="onRoomEquipmentTypeGroupClick($event)"
                (OnViewButtonClick)="onRoomClick($event)"></room-entity-cards-list>
        </ng-template>
    </content-loader>
</div>