<content-loader
    [showIf]="photos">
    <ng-template>
        <div class="toolbar">
            <button
                mat-button
                color="primary"
                (click)="selectPhoto()">
                <i class="fas fa-cloud-upload-alt upload-icon"></i>
                <span class="upload-text">Upload photo</span>
            </button>
        </div>
        <div
            *ngIf="photos.length; else noPhotos" 
            class="photos-wrapper">
            <dx-gallery
                #gallery
                [dataSource]="photos"
                [showNavButtons]="true"
                [showIndicator]="true"
                id="gallary"
                itemTemplate="item">
                <div *dxTemplate="let data of 'item'">
                    <div class="item-template-wrapper">
                        <img
                            height="100%"
                            [src]="data.photo"/>
                    </div>
                </div>
            </dx-gallery>
            <div class="bottom-toolbar">
                <button
                    mat-button
                    color="warn"
                    (click)="deletePhoto()">
                    <i class="fas fa-trash-alt"></i>
                    <span class="delete-text">Delete</span>
                </button>
            </div>
        </div>
    </ng-template>
</content-loader>

<input
    #photoInput
    hidden
    type="file"
    accept="image/.jpeg,.jpg,.png,.bmp"
    (change)="uploadPhoto($event)"/>

<ng-template #noPhotos>
    <div class="no-photos-wrapper">
        <img
            width="60%" 
            src="assets/images/no-photo-available.png" />
            <span class="no-photos-title">
                No photos
            </span>
    </div>
</ng-template>

