@import "_colors";

.toolbar {
    display: flex;
    justify-content: flex-end;
}

.item-template-wrapper {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-toolbar {
    display: flex;
    justify-content: center;

    margin-top: 20px;
}

.upload-text {
    margin-left: 5px;
}

.delete-text {
    margin-left: 5px;
}

.no-photos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    .no-photos-title {
        font-size: 25px;
        font-weight: 600;

        color: $title-color;
    }
}

#gallary {
    height: 100% !important;
}
