<div
    *ngIf="room.equipmentTypeGroups.length"
    class="wrapper">
    <strong class="text-primary">
        Equipment
    </strong>

    <mat-chip-list aria-label="Equipment selection">
        <mat-chip
            *ngFor="let equipmentTypeGroup of room.equipmentTypeGroups"
            [matTooltip]="equipmentChipTooltip"
            [matTooltipPosition]="'above'"
            (click)="onChipClick(equipmentTypeGroup)">
            <i [ngClass]="(equipmentTypeGroup.type | getEquipmentDataByType).iconClass"></i>
            &nbsp;
            <span class="equipment-count">({{ equipmentTypeGroup.count }})</span>
        </mat-chip>
    </mat-chip-list>
</div>