<page-title
    [title]="currentTabData.name"
    [iconClass]="currentTabData.iconClass"></page-title>

<content-loader [showIf]="roomGroups.length || roomApprovers">
    <ng-template>
        <div
            *ngIf="roomApprovers; else CannotAddApprovers">
            <div
                class="toolbar">
                <mat-checkbox
                    [(ngModel)]="roomApprovers.isAutoApproved"
                    color="primary"
                    id="auto-approved">
                    Auto approved
                </mat-checkbox>
            </div>

            <div
                class="approve-form">
                <room-approve-field
                    [autocompleteUpdateFunction]="updateAutocomplete"
                    [disabled]="roomApprovers.isAutoApproved"
                    [(ngModel)]="roomApprovers.approvers">
                </room-approve-field>
            </div>

            <fab-button
                *ButtonLoader="saveRoomApproversSubscription"
                [iconClass]="'fas fa-save'"
                (click)="saveRoomApprovers()"></fab-button>
        </div>
    </ng-template>
</content-loader>

<ng-template #CannotAddApprovers>
    <span
        class="cannot-add-approvers-text">
        You can't add approvers here, because this room already has them on room group level
    </span>
</ng-template>
