@import "_colors";

.toolbar {
    display: flex;
    justify-content: flex-end;
}

.approve-form {
    margin-top: 20px;
}

#auto-approved {
    margin-right: auto;
}

.cannot-add-approvers-text {
    color: $warning-background;
    font-size: 24px;
}
