<div class="wrapper">
    <page-title></page-title>

    <content-loader
        [showIf]="equipment">
        <ng-template>
            <div class="wrapper">
                <equipment-list-table
                    [equipment]="equipment"
                    (OnEditButtonClick)="onEquipmentEdit($event)"
                    (OnDeleteButtonClick)="onEquipmentDelete($event)">
                </equipment-list-table>
            </div>
        </ng-template>
    </content-loader>

    <fab-button
        (click)="onAddButtonClick()"></fab-button>
</div>