<form
    *ngIf="formGroup"
    [formGroup]="formGroup">
    <div class="row">
        <div class="col-12">
            <mat-form-field>
                <mat-label>Choose room layout</mat-label>
                    <mat-select
                        required
                        [formControl]="formGroup.controls.type">
                        <mat-option
                            *ngFor="let type of requiredRoomTypeArray"
                            [value]="type.id">
                            {{ type.name }}
                        </mat-option>
                </mat-select>

                <mat-error *ngIf="formGroup.controls.type.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>

        <div
            [ngSwitch]="formGroup.controls.type.value"
            class="col-12">
            <ng-container *ngSwitchCase="roomTypeEnum.Specific">
                <strong>Please, select specific layouts that you want</strong>

                <room-selector-type
                    [class.room-selector-invalid]="formGroup.controls.selectedItems.hasError('required')"
                    [imageMaxHeight]="'70px'"
                    [formControl]="formGroup.controls.selectedItems"></room-selector-type>
                
                <mat-error
                    *ngIf="formGroup.controls.selectedItems.hasError('required')"
                    class="room-layouts-error">
                    Please select specific room layout(s)
                </mat-error>
            </ng-container>

            <ng-container *ngSwitchCase="roomTypeEnum.Special">
                <mat-form-field>
                    <textarea
                        matInput
                        required
                        placeholder="Description"
                        [formControl]="formGroup.controls.description"></textarea>

                    <mat-error *ngIf="formGroup.controls.description.hasError('required')">
                        This field is required
                    </mat-error>
                </mat-form-field>
            </ng-container>
        </div>
    </div>
</form>