@import '_colors';

.room-layouts-error {
    padding-top: 5px;
}

:host .room-selector-invalid ::ng-deep .wrapper {
    border: solid 1px $danger-color;
    border-radius: 3px;
    padding-bottom: 10px;
}
