<div class="wrapper">
    <div>
        <mat-card 
            *ngFor="let report of reports"
            class="mat-item-card"
            (click)="OnSelected.emit(report)">
                <mat-card-header
                    class="mat-card-header">
                    <i class="far fa-file-alt file-icon"></i>
        
                    <h4 
                        class="report-name"
                        mat-line>{{ report.name }}</h4>

                    <i class="fas fa-download download-icon"></i>
                </mat-card-header>
        </mat-card>
    </div>
</div>
