@import "_colors";

.file-icon {
    color: $msj-blue-accent;
    font-size: 25px;
}

.mat-item-card {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;

    cursor: pointer;
}

.mat-card-header {
    display: flex;
    align-items: center;
}

.report-name {
    margin-left: 15px;
    font-weight: 500;
}

.download-icon {
    margin-left: auto;
    margin-right: 25px;

    font-size: 14px;
    color: rgba($info-background, 0.5);
}
