<page-title
    [title]="currentTabData.name"
    [iconClass]="currentTabData.iconClass"></page-title>

<content-loader [showIf]="roomSettings">
    <ng-template>
        <room-settings-form
            [inputData]="roomSettings"
            (OnFormInit)="onSettingsFormInit($event)"></room-settings-form>

        <fab-button
            *ButtonLoader="savingSubscription"
            [iconClass]="'fas fa-save'"
            (click)="saveSettings()"></fab-button>
    </ng-template>
</content-loader>