<h1 mat-dialog-title>Invoice status editing</h1>

<mat-dialog-content>
    <invoice-status-selector
        [(ngModel)]="status"></invoice-status-selector>
</mat-dialog-content>

<mat-dialog-actions
    align="end">
    <button
        *ButtonLoader="invoiceChangeStatusSubscription"
        mat-raised-button
        color="primary"
        (click)="onClickSaveButton()">
        Save
    </button>
</mat-dialog-actions>
