<content-loader
    [showIf]="!!detailsInfo">
    <ng-template>
        <mat-list class="room-list">
            <h3 mat-subheader>Rooms</h3>
            <mat-list-item *ngFor="let roomInfo of detailsInfo">
                <i  
                    mat-list-icon
                    class="fas fa-door-open"></i>
        
                <h4 mat-line>{{ roomInfo.roomName }}</h4>
                <p 
                    class="room-info-status-wrapper"
                    mat-line>
                    <i
                        [class]="RequestEventTypesArray[roomInfo.status].iconClass + ' room-info-status-icon'">
                    </i>
                    <span>
                        {{ RequestEventTypesArray[roomInfo.status].name }}
                    </span>
                </p>

                <div>
                    <button
                        *ngIf="roomInfo.canBeApproved"
                        mat-icon-button
                        [matTooltip]="(roomInfo.status !== statusEnum.Approved) ? 'Approve' : 'Disapprove'"
                        [matTooltipPosition]="'above'"
                        [disabled]="!roomInfo.canBeApproved"
                        [ngClass]="{
                            'text-secondary': !roomInfo.canBeApproved,
                            'text-success': (roomInfo.status !== statusEnum.Approved),
                            'text-warning': (roomInfo.status === statusEnum.Approved)
                        }"
                        class="approve-button"
                        (click)="onApproveClick(roomInfo)">
                        <i class="fas fa-gavel"></i>
                    </button>
                </div
                >
            </mat-list-item>
        </mat-list>
    </ng-template>
</content-loader>
