<div class="wrapper">
    <content-loader
        [showIf]="invoices">
        <ng-template>
            <invoice-list-table
                [invoices]="invoices"
                (OnPDFClick)="onInvoicesTablePDFClick($event)"
                (OnStatusClick)="onInvoicesTableStatusClick($event)"
                (OnEditClick)="onInvoicesTableEdit($event)"
                (OnDeleteClick)="onInvoicesTableDelete($event)"></invoice-list-table>

            <fab-button
                (click)="onInvoicesCreateClick()"></fab-button>
        </ng-template>
    </content-loader>
</div>
