<page-title
    [title]="currentTabData.name"
    [iconClass]="currentTabData.iconClass"></page-title>

<content-loader
    [showIf]="equipment && roomEquipment">
    <ng-template>
        <fab-button
            [tooltipText]="'Save'"
            [iconClass]="'fas fa-save'"
            (click)="saveRoomEquipment()"></fab-button>

        <room-editing-equipment-form
            [equipment]="equipment"
            [(roomEquipment)]="roomEquipment"></room-editing-equipment-form>
    </ng-template>
</content-loader>
