<div
    class="wrapper">
    <!-- <div class="toolbar">
        <button
            *ButtonLoader="saveRoomEquipmentSubscription"
            mat-raised-button
            color="primary"
            (click)="saveRoomEquipment()">
            Save
        </button>
    </div> -->

    <dx-data-grid
        [showBorders]="true"
        [dataSource]="equipment">

        <dxi-column
            [caption]="'Is active'"
            [alignment]="'center'"
            [width]="100"
            [cellTemplate]="'CanBeUseTemplate'">
        </dxi-column>

        <dxi-column
            [caption]="'Name'"
            [alignment]="'left'"
            [width]="200"
            [cellTemplate]="'NameTemplate'">
        </dxi-column>

        <dxi-column
            [caption]="'Count'"
            [alignment]="'left'"
            [width]="150"
            [cellTemplate]="'CountTemplate'">
        </dxi-column>

        <dxi-column
            [caption]="'Description'"
            [alignment]="'left'"
            [cellTemplate]="'DescriptionTemplate'">
        </dxi-column>

        <div *dxTemplate="let equipment of 'CanBeUseTemplate'">
            <mat-slide-toggle
                color="primary"
                [(ngModel)]="roomEquipment[equipment.data.id].canBeAdded">
            </mat-slide-toggle>
        </div>

        <div *dxTemplate="let equipment of 'NameTemplate'">
            <span *ngIf="equipment.data.name">{{ equipment.data.name }}</span>
        </div>

        <div *dxTemplate="let equipment of 'CountTemplate'">
            <mat-form-field>
                <input 
                    matInput 
                    placeholder="Count"
                    type="number"
                    [disabled]="!roomEquipment[equipment.data.id].canBeAdded"
                    [(ngModel)]="roomEquipment[equipment.data.id].count" />
            </mat-form-field>
        </div>

        <div *dxTemplate="let equipment of 'DescriptionTemplate'">
            <span class="equipment-description">{{ equipment.data.description }}</span>
        </div>

    </dx-data-grid>
</div>
