.equipment-block {

    margin-top: 20px;

    .top-side {
        display: flex;
        align-items: center;

        .name {
            font-size: 18px;
            margin-left: 40px;
        }

        .count {
            margin-left: auto;
        }
    }

    .bottom-side {
        .description {
            font-style: italic;
        }
    }
}
