<mat-card class="equipment-block">
    <mat-card-content>
        <div class="top-side">
            <div class="canBeAdded">
                <mat-slide-toggle
                    color="primary"
                    [(ngModel)]="roomEquipment.canBeAdded">
                </mat-slide-toggle>
            </div>
            <span class="name">
                {{ equipment.name }}
            </span>
            <div class="count">
                <mat-form-field class="example-full-width">
                    <input 
                        matInput 
                        placeholder="Count"
                        type="number"
                        [(ngModel)]="roomEquipment.count">
                </mat-form-field>
            </div>
        </div>
        <div class="bottom-side">
            <div class="description">
                {{ equipment.description }}
            </div>
        </div>
    </mat-card-content>
</mat-card>
