<page-title></page-title>

<div class="wrapper">
    <mat-tab-group
        [(selectedIndex)]="openedTab"
        (selectedTabChange)="onSelectedTabChange()">
        <mat-tab label="Events">
            <ng-template matTabContent>
                <app-events-tab></app-events-tab>
            </ng-template>
        </mat-tab>

        <mat-tab label="Request events">
            <ng-template matTabContent>
                <app-request-events-tab></app-request-events-tab>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>