<mat-dialog-header
    [iconClass]="'fas fa-gavel'"
    [title]="'Approve request event room'"
    (OnClose)="close()"></mat-dialog-header>

<mat-dialog-content>
    <request-event-approving-form
        (OnFormInit)="onFormGroupInit($event)"></request-event-approving-form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        *ButtonLoader="savingSubscription"
        mat-raised-button
        [color]="'primary'"
        (click)="save()">
        Save
    </button>
</mat-dialog-actions>