<mat-dialog-header
    [iconClass]="'fas fa-money-check-alt'"
    [title]="'Change price'"
    (OnClose)="close()"></mat-dialog-header>

<mat-dialog-content>
    <app-invoices-price-table
        [requestEventId]="requestEventId"
        (OnSelection)="countTotalPrice()"
        (OnInvoiceServiceUpdated)="countTotalPrice()"></app-invoices-price-table>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-button
        disabled>
        price X count = <strong>total price</strong>&ensp;
    </button>

    <button
        *ButtonLoader="savingSubscription"
        mat-raised-button
        [color]="'primary'"
        (click)="save()">
        Save (${{ totalPrice }})
    </button>
</mat-dialog-actions>