<div
    *ngIf="eventSettings.dataSource && _selectedRooms"
    class="wrapper">

    <app-room-selector
        *ngIf="isCalendarInit"
        [rooms]="rooms"
        [selectedRooms]="_selectedRooms"
        class="room-selector"
        (OnSelectionChanged)="onRoomSelectionChanged($event)">
    </app-room-selector>

    <ejs-schedule
        #scheduleObj
        width="100%"
        height="97%"
        cssClass='schedule-cell-dimension'
        [selectedDate]="currentDate"
        [eventSettings]="eventSettings"
        [currentView]="currentView"
        [allowDragAndDrop]="false"
        [allowResizing]="false"
        [readonly]="isReadOnly"
        (created)="onCalendarCreated()"
        (dataBinding)="onDataBinding($event)"
        (currentViewChange)="onCalendarViewChange($event)"
        (actionComplete)="actionEventArgsEmmiting($event)"
        (popupOpen)="onCalendarPopupOpen($event)"
        (selectedDateChange)="onCalendarDateChanged($event)"
        (eventRendered)="onEventRendered($event)">

        <e-views>
            <e-view 
                [option]="CalendarViewType.Day">
            </e-view>
            <e-view 
                [option]="CalendarViewType.Week"></e-view>
            <e-view 
                [option]="CalendarViewType.WorkWeek"></e-view>
            <e-view
                [option]="CalendarViewType.Month"
                [group]="group"></e-view>
            <e-view 
                [option]="CalendarViewType.Agenda"
                [group]="group"></e-view>
        </e-views>

        <e-resources>
            <e-resource 
                field="roomId" 
                title="Room" 
                name="Rooms"
                [dataSource]="_selectedRooms" 
                [allowMultiple]="true"
                textField="name"
                idField="id" 
                colorField="colorHex">
            </e-resource>
        </e-resources>
    </ejs-schedule>
</div>
