@import "_colors";

.wrapper {
    width: 100%;
    height: 100%;

    position: relative;
}

:host::ng-deep .e-resource {
    display: none !important;
}

:host::ng-deep .e-resource-cells {
    font-size: 20px !important;
    font-weight: 500 !important;

    color: #70757a !important;
}

.appointment-tooltip-wrapper {
    display: block;
    width: 100%;
    height: 100%;
}

.appointment-dates {
    font-weight: 600;
    font-size: 15px;
}

.loader-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.room-selector {
    display: flex;
    position: absolute;
    z-index: 999;
    top: 6px;
    left: 255px;
}

.space-selector {
    position: absolute;
    z-index: 999;
    right: 120px;
    top: 6px;
}

::ng-deep.schedule-cell-dimension.e-schedule .e-month-view .e-work-cells,
::ng-deep.schedule-cell-dimension.e-schedule .e-month-view .e-date-header-wrap table col {
    width: 150px;
}

::ng-deep.schedule-cell-dimension.e-schedule .e-month-view .e-work-cells {
    height: 100px;
}

::ng-deep.schedule-cell-dimension.e-schedule .e-timeline-month-view .e-content-wrap table col,
::ng-deep.schedule-cell-dimension.e-schedule .e-timeline-view .e-content-wrap table col {
    width: 100px;
}

:host::ng-deep .e-popup.e-popup-open {
    z-index: 999 !important;
}

:host::ng-deep .e-description {
    margin-top: 5px;
    overflow-y: auto !important;
    max-height: 500px !important;
    display: block !important;
}

:host::ng-deep .e-description-icon{
    display: inline !important;
}

:host::ng-deep .e-description-details{
    display: inline !important;
}

