<div
    *ngIf="roomTypes"
    class="wrapper row">
    <div
        *ngFor="let roomType of roomTypesArray"
        class="col-sm-12 col-md-6 col-lg-4 col-xl-3 column">
        <mat-card
            class="room-type-card"
            [ngClass]="{
                'selected-layout-wrapper': roomTypes.includes(roomType.type)
            }"
            (click)="onLayoutClick(roomType)">
            <mat-card-header
                class="room-type-card-header">
                <mat-card-title>{{ roomType.name }}</mat-card-title>
                <i
                    *ngIf="roomTypes.includes(roomType.type)"
                    class="fas fa-check room-type-card-checked">
                </i>
            </mat-card-header>
            <img 
                mat-card-image 
                [src]="roomType.imageUrl"
                [style.maxWidth]="imageMaxWidth"
                [style.maxHeight]="imageMaxHeight"
                class="room-type-image">
        </mat-card>
    </div>
</div>
