@import "_colors";

$border-size: 3px;

.column {
    margin-top: 15px;
    cursor: pointer;
}
.room-type-image {
    width: auto;
    align-self: center;
}

.selected-layout-wrapper {
    border: solid $border-size $msj-blue-official !important;
}

.room-type-card {
    width: 250px;
    height: 195px;
    border: solid $border-size transparent;

    display: flex;
    flex-direction: column;

    user-select: none;

    width: 100%;
    max-width: 270px;
    height: 100%;
    max-height: 195px;
}

.room-type-card-checked {
    margin-left: auto;
    color: $msj-blue-official;
}

.toolbar {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
