<form
    *ngIf="formGroup"
    [formGroup]="formGroup">
    <div class="row">
        <div class="col-12">
            <mat-form-field>
                <input 
                    matInput
                    required
                    placeholder="Name" 
                    [formControl]="formGroup.controls.name">

                <mat-error *ngIf="formGroup.controls.name.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field>
                <input
                    matInput
                    required
                    placeholder="Login" 
                    [formControl]="formGroup.controls.login">
    
                <mat-error *ngIf="formGroup.controls.login.hasError('required')">
                    This field is required
                </mat-error>

                <mat-error *ngIf="formGroup.controls.login.hasError('loginExist')">
                    Login is already in use
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field>
                <input 
                    matInput
                    required
                    placeholder="Email" 
                    [formControl]="formGroup.controls.email">
    
                <mat-error *ngIf="formGroup.controls.email.hasError('required')">
                    This field is required
                </mat-error>

                <mat-error *ngIf="formGroup.controls.email.hasError('emailNotValid')">
                    This is not an email
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field>
                <input 
                    matInput
                    required
                    placeholder="Phone" 
                    [formControl]="formGroup.controls.phoneNumber">
    
                <mat-error *ngIf="formGroup.controls.phoneNumber.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field>
                <input 
                    matInput
                    placeholder="Position"
                    [formControl]="formGroup.controls.position">
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field>
                <input 
                    matInput
                    placeholder="Address" 
                    [formControl]="formGroup.controls.address">
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-form-field>
                <textarea
                    matInput
                    placeholder="Note"
                    [formControl]="formGroup.controls.note"></textarea>

                <mat-error *ngIf="formGroup.controls.note.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</form>