<div class="color-block-wrapper">
    <i
        *ngIf="(colorId | getRoomColorDataByColorId) as roomColor"
        class="fas fa-door-open fa-2x color-block"
        [matMenuTriggerFor]="colorMenu"
        [style.color]="roomColor.hex"
        [matTooltip]="'Change color'"
        [matTooltipPosition]="'above'"></i>
</div>

<mat-menu
    #colorMenu="matMenu"
    class="menu-block">
    <div class="menu-title-wrapper">
        <b class="menu-title text-primary">Change color</b>
    </div>

    <mat-divider></mat-divider>

    <room-colors-list
        [colorId]="colorId"
        (OnChangeColor)="OnChangeColor.next($event)"></room-colors-list>
</mat-menu>