mat-divider {
    margin: 8px 0px;
}

::ng-deep .mat-menu-panel {
    width: 200px !important;
}

.color-block-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .color-block {
        &:hover {
            cursor: pointer;
            opacity: .9;
        }
    }
}

::ng-deep .mat-menu-content {
    line-height: 1px !important;
}

.menu-title-wrapper {
    padding: 7px;
    text-align: center;
}

.menu-title {
    font-size: 14px;
}

.menu-item {
    height: 35px;
    font-size: 11px;
}
