<div class="wrapper">
    <page-title></page-title>

    <content-loader [showIf]="svcArray">
        <ng-template>
            <services-list-table
                [svcArray]="svcArray"
                (OnEditButtonClick)="onSvcEdit($event)"
                (OnDeleteButtonClick)="onSvcDelete($event)"></services-list-table>
        </ng-template>
    </content-loader>

    <fab-button
        (click)="onAddButtonClick()"></fab-button>
</div>