<form
    *ngIf="formGroup"
    [formGroup]="formGroup">
    <div class="row">
        <div class="col-12">
            <mat-form-field>
                <input 
                    matInput
                    required
                    placeholder="Name" 
                    [formControl]="formGroup.controls.name">

                <mat-error *ngIf="formGroup.controls.name.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-12">
            <mat-checkbox
                [color]="'primary'"
                [formControl]="formGroup.controls.isAutoApproved">Auto approved</mat-checkbox>
        </div>
    </div>
</form>