<mat-dialog-header
    [iconClass]="'fas fa-plus'"
    [title]="'Assign services for role'"
    (OnClose)="close()"></mat-dialog-header>

<mat-dialog-content>
    <content-loader [showIf]="role && svcArray">
        <ng-template>
            <app-role-svc-assigner
                [role]="role"
                [svcArray]="svcArray"></app-role-svc-assigner>
        </ng-template>
    </content-loader>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
        mat-raised-button
        [color]="'primary'"
        (click)="close()">
        Ok
    </button>
</mat-dialog-actions>