<div
    *ngIf="roomGroup"
    class="wrapper">
    <div class="tagbox_wrapper">
        <assigner-field
            [title]="roomGroup.name"
            [placeholder]="roomGroup.name"
            [autocompleteItems]="autocompleteRooms"
            [assignedItems]="assignedRooms"
            (OnAssign)="OnRoomAssign.next($event)"
            (OnDeassign)="OnRoomDeassign.next($event)"
            (OnClearAssign)="OnClearAssign.next()"
            (OnFocusIn)="OnFocusIn.next($event)"
            (OnKeyUp)="OnKeyUp.next($event)"></assigner-field>
    </div>

    <button
        mat-icon-button
        [ngClass]="(roomGroup.isAutoApproved) ? 'text-secondary' : 'text-primary'"
        [disabled]="roomGroup.isAutoApproved"
        [matTooltip]="'Change approvers'"
        [matTooltipPosition]="'above'"
        (click)="(roomGroup.isAutoApproved) ? null : OnChangeApprovers.next(roomGroup)">
        <i class="fas fa-user-edit"></i>
    </button>

    <button
        mat-icon-button
        [matTooltip]="'Edit'"
        [matTooltipPosition]="'above'"
        (click)="OnEditButtonClick.next(roomGroup)">
        <i class="fas fa-pen"></i>
    </button>

    <button
        mat-icon-button
        [color]="'warn'"
        [matTooltip]="'Delete'"
        [matTooltipPosition]="'above'"
        (click)="OnDeleteButtonClick.next(roomGroup)">
        <i class="far fa-trash-alt"></i>
    </button>
</div>