<mat-dialog-header
    [title]="'Edit space'"
    (OnClose)="close(false)">
</mat-dialog-header>

<mat-dialog-content>
    <content-loader
        [showIf]="rooms">
        <ng-template>
            <space-form
                [inputData]="space"
                [rooms]="rooms"
                (OnFormInit)="onSpaceEditingFormInit($event)">
            </space-form>

        </ng-template>
    </content-loader>
</mat-dialog-content>

<mat-dialog-actions 
    align="end">
    <button
        *ButtonLoader="saveSpaceSubscription"
        mat-raised-button
        color="primary"
        (click)="saveSpace()">
        Save
    </button>
</mat-dialog-actions>
